[2013-03-18 12:56] megazoll opened #9 "PSR"
What's about supporting PSR?
https://github.com/php-fig/fig-standards/tree/master/accepted

[2013-11-12 04:10] brianr opened #11 "Errors suppressed with `@` should not be reported"
Via @nodesocket:

Unless there's objection from the community, let's make this change, make it the default behavior, and bump the version to 0.6.0. The old behavior should be available via a config flag.

[2014-01-07 23:34] #11 closed, assigned to nobody

[2014-01-20 18:43] daylerees opened #12 "Tag please."
Hi there!

The current stable tag has the following autoload:

[code]

I noticed that it's fixed in the master. Could we have a tag please? :)

Thanks!

[2014-01-20 18:51] #12 closed, assigned to nobody

[2014-01-31 20:45] brianr opened #13 "current_url() should use HTTP_X_FORWARDED_PROTO if set"
Should be a small change here: https://github.com/rollbar/rollbar-php/blob/master/rollbar.php#L437

This will make things work better when php is running behind nginx. (Still requires configuring nginx to send the header).

[2014-02-03 21:01] #13 closed, assigned to nobody

[2014-03-04 13:03] drjayvee opened #15 "Remove session id from posted cookie"
In 5.x, we extended `RollbarNotifier::build_request_data` to strip the session id from the cookie data. In 6.x, that method and the member `_request_data` have been made `private`, so we cannot touch that. (Which is exactly why I dislike "private by default")

`RollbarNotifier::scrub_fields` only applies to `$_POST` and `$_SESSION`, so that can't be used either.

I would propose that Rollbar strip

[2014-04-27 11:22] jenssegers opened #19 "Laravel support"
Hi, I have built a package that integrates rollbar with laravel: https://github.com/jenssegers/Laravel-Rollbar

I did run into some trouble because your classes are not namespaced.

[2014-05-29 13:01] rfink opened #21 "Seems to be writing empty files"
I'm using this with the rollbar agent, and it seems to be writing an empty file a considerable amount of the time.

[2014-05-29 23:23] #21 closed, assigned to nobody

[2014-05-30 12:24] rfink opened #23 "Adding timestamp to filename"
This may not be the direction you guys are shooting for, so feel free to deny the pull request and close this out, although we had to modify this on our copy of rollbar.php to work in our environment.  The current file name for the rollbar agent log is generated based on the process id of the current php process.  In a high transaction environment, these could very well overlap.  I'm proposing and

[2014-05-30 19:42] #23 closed, assigned to nobody

[2014-06-02 13:14] rfink opened #25 "json_encode warning: Invalid UTF-8 sequence in argument"
Unfortunately, it doesn't seem like php is going to bake this in to the language anytime soon.  json_encode can occasionally fail when there is an invalid (non utf-8) character in the request/headers/etc, and will trigger a warning (also resulting in a null value for the field).  I'm going to issue a pull request to sanitize fields in the payload by scrubbing non utf-8 characters, but I want to te

[2014-06-05 02:23] nodesocket opened #27 "Upgrading to 0.9.1 included_errno"
Is there any reason you don't read the PHP environment to get the default error reporting level to use for `included_errno`?

For example, default should just get `error_reporting()`, not default to:

[code]

[2014-06-05 02:47] #27 closed, assigned to nobody

[2014-06-06 02:43] #25 closed, assigned to nobody

[2014-06-18 08:56] vilius-g opened #28 "There should be a way to use error_reporting() to filter errors"
As it is, included_errno parameter is not sufficient. For example, if you set it to include E_NOTICE, it will report ALL notices, even ones that were suppressed by changing error_reporting level.

I think when filtering which errors to report, the effective error_reporting() level should be used by default.

[2014-06-23 14:53] tgalczynski opened #30 "Rollbar::check_config() returns false when handler=agent & token not set"
Is there any reason to check access_token, when handler is set to "agent"  ?

It was confusing for me that I have to set token when my code does not connect to Rollbar directly.

[2014-06-24 22:10] nodesocket opened #31 "Do scrub fields apply to $extra_data"
When passing custom `$extra_data` into `report_message()` do the settings scrub fields apply, i.e. mask those values?

[2014-06-24 23:52] #30 closed, assigned to nobody

[2014-06-24 23:52] #28 closed, assigned to nobody

[2014-07-10 13:32] ThinkGraphical opened #34 "Rollbar::report_message not listening to 'level' ?"
Can it be that Rollbar::report_message is not listening to the 'level' parameter?

This is my code:

[code]

This is not showing up in the dashboard, I've tried 'critical', 'debug', 'info', 'warning'.

When i change it to 'error', it does:

[code]

[2014-07-11 06:38] #34 closed, assigned to nobody

[2014-08-25 19:50] nodesocket opened #36 "Detected an illegal character in input string"
Just saw this come through, any ideas?

[code]

[2014-08-28 22:11] #36 closed, assigned to nobody

[2014-09-11 07:19] nodesocket opened #37 "Version is incorrect in source"
[code]

Should be 0.9.8.

[2014-09-11 14:41] #37 closed, assigned to nobody

[2014-11-06 21:20] brianr opened #38 "Truncate long strings in large payloads to respect 128kb limit"
rollbar-gem does this: https://github.com/rollbar/rollbar-gem/blob/master/lib/rollbar.rb#L400-L410 . We should do something similar here.

[2015-01-05 13:08] vilius-g opened #40 "Some support for CLI programs"
As I understand, Rollbar is built with the assumption of an HTTP request. Still, it would be good to have at least some support for command line programs.

Now it just sets the URL to http://unknown/ and everything else to None. It makes very hard to determine in what context the error has occurred.

It would be nice if at least the command line arguments were included in the error details.

[2015-01-06 02:01] brianr commented on #40
Agreed @vilius-g -- better support for CLI makes good sense.

If you want to take a stab at this, the things to do are:

- detect whether we're running in a web request or CLI
- if CLI:
  - don't gather or include request data - see [relevant code](https://github.com/rollbar/rollbar-php/blob/master/rollbar.php#L258)
  - do gather the command line args, and send them as server.argv - see [build_ser

[2015-01-06 02:10] nodesocket commented on #40
To detect if a cli or web request, the following should work:

    $cli = false;
    if(strtolower(php_sapi_name()) === "cli") {
       $cli = true;
    } else {
        $cli = false;
    }

[2015-01-08 19:27] rfink opened #41 "json_encode: invalid utf-8 sequence in argument (in $_GET/$_POST keys)"
Similar issue to the $_GET/$_POST *values*, but now it's on the keys.  Can be seen with common vulnerability scanners.  Example:

http://{yourdomainname.com}/{somepath}?acux8277%C0%BEz1%C0%BCz2a%90bcxuca8277

With:
display_errors Off (this is the only condition that causes the json_encode warning to happen)

Pull request coming shortly

[2015-01-16 11:35] digilist opened #43 "Return result from API call"
I'd like to know whether my log request to rollbar was successful or not, so that I could log to a file or send a mail (or react in other ways), when the request failed.
Currently, the result is only logged via your own logger (which isn't even PSR-3 compliant).

[2015-01-16 21:32] nodesocket commented on #43
@digilist perhaps you could take a crack at submitting a PR then?

[2015-01-16 23:10] digilist commented on #43
Yeah I can do this, I thought I'd look for feedback and other thoughts first. Maybe there are reasons not to do this.

[2015-01-16 23:13] brianr commented on #43
@digilist we'd be very open to this. If it's going to be a lot of code, please share out the design first for comment; if it's not a lot then just going straight to a PR is great.

[2015-02-16 14:17] johanna opened #45 "checkIgnore for PHP"
It would be great if the config option checkIgnore was implemented for PHP!

[2015-03-31 09:08] lindyhopchris commented on #9
+1 for also making the PSR compatible. Personally I don't think this should become version 1.0 until it is PSR compliant.

[2015-04-30 10:52] dataground opened #52 "Option to exclude cookie data in request"
The scrub_fields param should also look at $_COOKIE to exclude custom session cookies containing sensitive information. Maybe a scrub_cookies param?

[2015-04-30 10:53] dataground commented on #52
Party related to https://github.com/rollbar/rollbar-php/issues/15

[2015-04-30 10:54] dataground commented on #15
Related to https://github.com/rollbar/rollbar-php/issues/52

[2015-05-14 17:55] brianr opened #53 "Option to capture stack trace in report_message()"
It would be nice if calls to Rollbar::report_message() could also capture the stack trace.

This should probably be available both as a per-call param, and as a config param.

[2015-05-27 11:43] diogopms opened #55 "Rollbar $last_error['type'] only support E_ERROR"
Hi,
I needed to change this method, because my system (nginx+php5-fpm) i have  $last_error['type'] = 4 instead of 1 (E_ERROR).

Can you give help me or give information about that, because i want to use rollbar if some syntax error appear.

[code]

[2015-05-27 18:53] coryvirok commented on #55
Looks like we should add in a new `case`:

[code]

@brianr look good?

[2015-05-27 18:59] brianr commented on #55
Looks good to me.

[2015-05-27 21:41] brianr commented on #55
Fixed in #56

[2015-05-27 21:41] #55 closed

[2015-05-27 21:45] brianr commented on #55
Fix released in version 0.11.2

[2015-07-03 15:12] dimkalinux opened #61 "Invalid scrubling algo"
Hi.

In docs 'scrub_fields
Array of field names to scrub out of _POST and _SESSION. Values will be replaced with asterisks. If overridiing, make sure to list all fields you want to scrub, not just fields you want to add to the default. Param names are converted to lowercase before comparing against the scrub list.'

But actually comparing worked as case sensitivity in case target key is not define

[2015-07-03 15:15] dimkalinux commented on #61
For example scrub_fields = array('password') and $_SESSION['PASSWORD'] will not be scrubled because you did simple in_array('password', array('PASSWORD'));

[2015-07-03 15:16] dimkalinux commented on #61
Test passed because its covered by regular expressions /password/i

[2015-07-06 19:42] brianr commented on #61
Thanks for the report, @dimkalinux . We'd be happy to accept a PR that fixes this if you are up for it; otherwise we'll get to it soon. As a workaround, it sounds like you should be able to use regexes (e.g. `"/password/i"`) instead of strings.

[2015-07-13 15:30] dimkalinux commented on #61
https://github.com/rollbar/rollbar-php/pull/63

[2015-07-29 00:04] brianr commented on #61
Fix released in version 0.15.0. Thanks again!

[2015-07-29 00:04] #61 closed

[2015-08-04 12:58] flowdee opened #66 "Extended filtering"
My scenario: I need to filter the source of an error and want to prevent certain files to log errors.

Therefore It would be amazing to deliver a callback function to the Rollbar::init($config); which handles the final result and I can check / edit or refuse the api call.

[2015-08-04 19:01] coryvirok commented on #66
Hi flowdee,

Thanks for the feature request. We will take a look.

[2015-08-20 07:47] erichard opened #68 "[Feature Request] Add an RollbarExceptionInterface"
That would allow the `report_exception()` to automatically add extra_data and payload_data if the reported exception implements the `RollbarExceptionInterface`.

What do you think ?

[2015-08-20 18:39] mbrevda commented on #9
As a partial workaround, monolog has a roolbar handler that provides a psr-3 interface: https://github.com/Seldaek/monolog/blob/master/src/Monolog/Handler/RollbarHandler.php

[2015-10-26 21:37] baohx2000 commented on #9
thanks @mbrevda for the note about the monolog handler
@brianr you could always start a v2 branch which we'd PR against to make PSR compliant.  That way you could go ahead and 1.0 the current code if want.  It's not expected that major versions be backwards compatible.

[2015-10-29 09:50] davidsteinsland opened #70 "[Feature Request]: Try-catch block around 'person_fn'"
Would be nice if the call to `person_fn` callable would be wrapped in a try-catch block, and swallow the exception (logging it with `log_error`).

The problem I had:
- PHP error was generated from PHP-PDO layer (connection warning)
- `person_fn` was called, which checks if a session exists and returns user information
- Sessions are stored in database, meaning that the session checking would again

[2015-12-11 14:03] oadam opened #72 "status 200 when using set_exception_handler"
I'm using rollbar with great success but today I've noticed something that bothers me.

My code is using exception to report invalid GET parameters.
In dev, when I call an invalid URL, I get a 500 error and the error is logged by php.
In prod, where rollbar is enabled, I obtain a blank page with a 200 status.

Having a 200 status can be an issue for a number of reasons (for example because it mean

[2016-02-18 17:58] rlweb commented on #9
+1

[2016-02-23 16:07] theofidry commented on #9
Then why not using Semver? The large majority of PHP libraries are using semver, by having releases `0.*.*` you are indicating it is still a development version with risk of BC, which is apparently not the case as you don't want to introduce any BC.

[2016-03-23 21:47] alwaysontop617 opened #77 "Much Cleaner Code"
Everytime I run a code check I am getting this:
![errors](https://cloud.githubusercontent.com/assets/17088079/14001964/ce81a598-f116-11e5-867a-1dd0687b9b46.png)

The yellow represents rollbar which if you can't read, has 1,216

[2016-03-23 21:50] alwaysontop617 commented on #77
https://poke-cmsd-dodiaraculus.c9users.io/code/style-report/

[2016-03-24 09:28] Crisfole commented on #77
Hey there, what code checker/linter/inspetor, exactly, are you using? And does your tool tell you what the problem it's detected is? (I can't see the link you posted).

[2016-03-24 12:56] alwaysontop617 commented on #77
Crisfole: I use phpcheckstyle with php-cs-fixer but php-cs-fixer does not fix the code.

[2016-03-24 12:58] alwaysontop617 commented on #77
http://tecflare.com:3000/Tecflare/poKe_CMS

[2016-03-24 13:22] Crisfole commented on #77
@alwaysontop617 Sorry that link is just your application. Can you re-send the actual style report?

[2016-03-24 13:53] alwaysontop617 commented on #77
@Crisfole ok

[2016-03-24 13:54] alwaysontop617 commented on #77
http://tecflare.com:3000/Tecflare/poKe_CMS/src/master/code/checkstyle_result

[2016-03-24 14:05] alwaysontop617 commented on #77
@Crisfole its here

[2016-03-24 15:11] alwaysontop617 commented on #77
https://github.com/rollbar/rollbar-php/pull/78

[2016-03-24 15:14] Crisfole commented on #77
Hi there @alwaysontop617  I saw that, yes.

While we appreciate the issue report, we reserve that file for people who've contributed code through a PR (you'll notice it's really just a proxy for https://github.com/rollbar/rollbar-php/graphs/contributors).

At this time we're still evaluating whether or not any of the warnings there apply to the coding style we've chosen for Rollbar (which is consi

[2016-03-24 15:51] alwaysontop617 commented on #77
@Crisfole So how can I help?

[2016-03-24 16:49] Crisfole commented on #77
It really sounds like our conventions don't match yours. Could you configure a `phpcheckstyle` configuration file that matches the existing conventions we're using so we can hook it into our tests?

[2016-03-24 21:38] alwaysontop617 commented on #77
Crisfole: Ya but phpcheckstyle needs me to be part of your organization. My username is alwaysontop617.

[2016-03-24 21:39] alwaysontop617 commented on #77
@Crisfole

[2016-03-25 13:56] Crisfole commented on #77
Hi @alwaysontop617, we only add employees to the Rollbar organization (proprietary code and all).

I think you may have misunderstood my request. I'm looking for a PR with a new file(s) that configures phpcheckstyle so that our code *already* mostly passes. Most linters allow you to select what code inspections you want to run, including swapping out things like tabs/spaces, variable naming conven

[2016-03-28 15:22] alwaysontop617 commented on #77
@Crisfole Im going to need lots of help its not as easy as 1 2 3. Seriously

[2016-03-28 16:23] Crisfole commented on #77
Alright. What help do you need?

[2016-03-29 01:55] alwaysontop617 commented on #77
Well Were going to have to do live coding. I can use c9.io and share it
with you. Can you get on at 3/28/16 at
8:00 AM
Tuesday, 3/28/16 (CDT)
Time in Plano, TX, United States

On Mon, Mar 28, 2016 at 11:23 AM, Christopher Pfohl <
notifications@github.com> wrote:

--
Sincerely,
Thomas Wilbur

[2016-03-30 15:18] Crisfole commented on #77
Hey there, no can do, sorry! I'm quite busy.

If you have a specific support request I'm happy to answer any questions you have, and if you submit *anything* in a PR we can discuss what you've come up with much more readily.

[2016-04-08 05:13] ytn3rd opened #79 "Rollbar class not found when using composer"
We got rollbar through composer and the file exists. When we try include autoload.php it can not find the Rollbar class.

However if we include the rollbar.php file directly it works fine. See example below

[code]

I am unsure why as
`"classmap": ["src/rollbar.php"]`
matches what some other projects use just fine.

[2016-04-10 18:28] jshah4517 commented on #45
+1

[2016-04-11 15:33] Crisfole commented on #79
Hey there, I just installed rollbar with composer to run a quick test and I'm not getting the same results.

Are other composer-installed packages working correctly with autoload in your test file?

[2016-04-11 15:57] nocive commented on #40
:+1: this is something we really miss after switching to rollbar as our primary error reporting tool

[2016-04-11 23:34] ytn3rd commented on #79
We are using quite a few and they all work fine (codescale/ffmpeg-php, abeautifulsite/simpleimage, aws/aws-sdk-php, google/apiclient, facebook/php-sdk-v4, stripe/stripe-php, abraham/twitteroauth, happyr/linkedin-api-client, mixpanel/mixpanel-php, phpmailer/phpmailer, calcinai/xero-php and of course rollbar/rollbar).

Using an Amazon Linux AMI on Amazon EC2 that is fully up to date.

Roller version

[2016-04-13 18:07] Crisfole commented on #40
#80

[2016-04-14 17:28] Crisfole commented on #79
Have you tried uninstalling and reinstalling Rollbar?

[2016-04-14 17:28] Crisfole commented on #77
I'm going to close this in factor of #81.

[2016-04-14 17:53] Crisfole commented on #72
Hey there, sorry for the long delay!

I don't think we're purposely setting the status to 200. On my end I still get a 500 when I report something to Rollbar.

Are you sure this is the application and not your server in production? (Apache can easily do stuff like this, for example).

[2016-04-14 20:18] Crisfole opened #84 "Gather PHP version info"

[2016-04-21 18:12] #40 closed

[2016-04-21 19:19] #77 closed

[2016-04-22 12:26] ytn3rd commented on #79
I had not tried uninstall and reinstall. I did however just install Rollbar on different server with composer, and it worked fine. Will close this now because it appears it must be something on our end, not on your end.

[2016-04-22 12:26] #79 closed

[2016-04-25 20:55] elgeorge2k commented on #79
I had the exact same issue: rollbar working on production with composer, but not in development becase "Class 'Rollbar' not found "

[2016-04-26 13:32] Crisfole commented on #79
@elgeorge2k have you tried removing and re-adding the file?

[2016-05-01 03:27] chrisatomix opened #87 "Version 0.16.0"
I'm seeing notifications for version 0.16.0 on Rollbar:
![image](https://cloud.githubusercontent.com/assets/1768449/14939910/ef77ee8a-0f9b-11e6-90a8-975a03e1afff.png)
However Github doesn't show 0.16.0 as released, the code still shows 0.15.0.
[code]
The changelog doesn't show this either.

Is it safe or recommended to update to 0.16.0 and manually edit the rollbar.php file with the correct versio

[2016-05-02 05:00] limenet commented on #87
I agree with @chrisatomix and have the same issue.

One question though: @chrisatomix what do you mean by

?
As far as I can see, version `0.16.0` has been released"(in this case using `git tag`) [on April 22, 2016](https://github.com/rollbar/rollbar-php/releases). And it also shows up on [Packagist](https://packagist.org/packages/rollbar/rollbar).

---

**To the package maintainer(s):**
In additi

[2016-05-02 05:02] chrisatomix commented on #87
I was going by the changelog file, which says "Next Release" (to me that suggests that it's still a work in progress).

[2016-05-02 05:04] limenet commented on #87
I see, thanks, @chrisatomix

[2016-05-02 14:08] Crisfole commented on #87
Hey there, my apologies. I'll get that updated later today.

[2016-05-02 14:19] Crisfole commented on #87
Fixed in c62dcd4

[2016-05-02 14:19] #87 closed

[2016-05-04 22:33] bytestream opened #88 "Include exception stack trace args"
It would be great if exception stack trace args were shown in rollbar.

For example:

[code]

[2016-05-06 01:36] Crisfole commented on #88
Hey @bytestream your notifier should be doing this already! Can you write into support@rollbar.com with some links to examples where it's not?

[2016-05-11 19:24] dlsteuer commented on #41
This has been completed and released.

[2016-05-11 19:24] #41 closed

[2016-05-17 17:32] frolof opened #90 "Relase 0.17.0 has wrong version"
Hey,
I noticed in rollbar panel I should update rollbar library. I updated but message didn't dissapeared. Then I discovered there is wrong version typed in release
https://github.com/rollbar/rollbar-php/blob/v0.17.0/src/rollbar.php#L93

[2016-05-17 18:21] Crisfole commented on #90
Hey there! We definitely ought to automate this craziness! Thanks for the heads up. It'll be a bit before we get to this, but we'll fix!

[2016-05-26 18:03] dlsteuer commented on #88
It looks like this is not currently available in the notifier, re-opening.

[2016-06-14 16:23] dlsteuer commented on #45
added in #82

[2016-06-14 16:23] #45 closed

[2016-06-15 15:31] bkuhl opened #95 "API error: Cannot read property 'trace' of undefined"
I'm unsure if this is an issue with this package or something within Rollbar.  I just added this to my Laravel 5 project using https://github.com/jenssegers/laravel-rollbar and am testing things out and Rollbar is seeing an exception, but it's not the one I'm throwing.

I've verified that the exception and appropriate context is being passed to the rollbar-php package.

<img width="961" alt="scree

[2016-06-21 22:13] sandfoxme opened #96 "PHP 7 Errors are caught incorrectly"
[code]

One type hint was not removed but probably it is better to use ``class_alias()`` instead of define, it will also help to restore class hinting removed here https://github.com/rollbar/rollbar-php/commit/7b7cae9777ee794935b5a1b778fab6d128b80629

[2016-06-21 22:13] sandfoxme commented on #96
I will try to make a PR on weekend unless there's someone faster :)

[2016-06-25 19:02] bkuhl commented on #95
My app needs to go in production in the next month and this is a blocker for me.  I'm happy to Fork the project and disable the conversion that appears to be breaking this, but would prefer to only take that route if this isn't something that is on the radar for a fix.

[2016-06-26 23:24] dlsteuer commented on #95
Hey @bkuhl we're working towards the 1.0 release, which wouldn't have this problem because it's been removed in that branch, I need to have a discussion with some other members of the team about that. The only thing holding back the 1.0 release right now is api compatibility with the current version.

[2016-06-27 18:13] elgeorge2k commented on #79
Hey guys sorry this was resolved, perhaps it was something with composer.

[2016-07-04 00:10] bkuhl commented on #95
Any idea on what the anticipated date of that is?

[2016-07-04 20:30] dlsteuer commented on #95
Hey Ben, unfortunately I'm not sure on a timeline, so I added a config switch for this. If you add

[code]

This will disable the sanitization for you. Let me know if you have any further problems. It should be available in composer shortly as v0.18.1

[2016-07-04 20:30] #95 closed

[2016-07-06 00:07] bkuhl commented on #90
Is it valuable to keep the version number in the class itself when it can be obtained from a `composer.lock` file?

[2016-07-06 07:58] dlsteuer commented on #90
the `composer.lock` file contains the version of the dependencies, if I understand composer correctly, but not the library version, the version on packagist is driven by the tags on the github repo. I don't think this issue is useful anymore, since we've released additional updates since, I'm going to close it.

[2016-07-06 07:58] #90 closed

[2016-08-24 16:27] pobegov opened #99 "Redirect after error report"
Hi,

in production we don't want to stop rendering the page in case of whatever error has happened, and redirect to a nice error message page instead. I failed to locate anything in this direction in the notifier, is there a best-practice approach for this?

thanks!

[2016-08-25 16:44] skynet opened #100 "v1.0.0-beta Errors"
If using the dev version dashboard is flooded with Rollbar's own errors:

`API error: Invalid format. data.body.trace.exception.class is missing and it is required.`

[2016-08-25 18:20] dlsteuer commented on #100
@skynet can you send me a link to your account at support@rollbar.com so I can investigate the invalid payload?

[2016-08-25 20:13] rivkahstandig3636 commented on #99
Hi @pobegov!

This isn't a built in functionality in the notifier, but I did find this [blog post ](http://markonphp.com/handling-fatal-errors-php/) that may be able to help you redirect to an error page instead of just ending up on a blank page after a fatal error. Hope this helped!

[2016-08-25 20:13] #99 closed

[2016-09-09 19:51] jasny opened #102 "Support the Forwarded (RFC 7239) header"
The `Forwarded` header is the new standard ([RFC 7239](https://tools.ietf.org/html/rfc7239#section-5.4)) als alternative for the common (but non-standard) `X-Forwarded-*` headers.

It is passed to PHP as `$_SERVER['HTTP_FORWARDED']`. It needs to be parsed to extract the different parts.

[2016-09-15 15:30] downsider opened #103 "using the Level class first causes a Fatal error"
Ran into a bug where I used one of the `Level` constants before accessing the rollbar class. I'm using an autoloader, so the files are only loaded when required.

As the first line in `rollbar.php` is to include `Level.php`, which had already been loaded by that point, it tried to redeclare the class, causing a Fatal error

[2016-09-15 15:34] downsider commented on #103
I was using version 0.18.2
I've made a fix for this, but which branch should I PR it into?

[2016-09-15 20:12] dlsteuer commented on #103
Hey thanks for that, good call. I've just created a new branch in the repo called release-maintenance, can you do the pull request against that branch, and then I can draft a new 0.18.3 release

[2016-09-16 05:10] sluchznak opened #104 "API error: Invalid format"
API error: Invalid format. data.body must not be undefined. Instead, it should be an object with a 'message', 'trace', 'trace_chain', or 'crash_report' key.

tried different versions:
baibaratsky/yii2-rollbar:1.4.* (rollbar-php:0.18.2)
baibaratsky/yii2-rollbar:1.1.0 (rollbar-php:0.15.0)

[2016-09-16 16:52] jessewgibbs opened #105 "test"

[2016-09-16 16:52] #105 closed

[2016-09-26 20:22] aensley commented on #96
I see this was fixed in [0.18.2](https://github.com/rollbar/rollbar-php/releases/tag/v0.18.2). It should probably be closed.

[2016-09-27 09:26] bloodrain777 opened #106 "TypeError"
Hi. I run the code from your example and get just such error. I use composer

PHP Fatal error:  Uncaught TypeError: Argument 3 passed to Rollbar\RollbarLogger::log() must be of the type array, null given, called in /home/dev/wwwroot/hotwork/vendor/rollbar/rollbar/src/Rollbar.php on line 57 and defined in /home/dev/wwwroot/hotwork/vendor/rollbar/rollbar/src/RollbarLogger.php:30

[2016-09-29 15:53] sandfoxme commented on #96
It seems it works

[2016-09-29 15:53] #96 closed

[2016-09-30 10:04] sluchznak commented on #104
Sorry, my bad. This problem with docker php alpine image and iconv extension

[2016-09-30 10:04] #104 closed

[2016-09-30 10:06] sluchznak commented on #100
@skynet you using docker alpine image? Your version rollbar is lower then 1.0.0-beta? Probably your problem in iconv extension.

[2016-10-07 13:19] joshuabaker opened #107 "Handle PHP 7 predefined exceptions"
In PHP 7 there are various [predefined/reserved exceptions](http://php.net/manual/en/reserved.exceptions.php), which are not currently handled by the Rollbar package.
- [`Error`](http://php.net/manual/en/class.error.php)
- [`ArithmeticError`](http://php.net/manual/en/class.arithmeticerror.php)
- [`AssertionError`](http://php.net/manual/en/class.assertionerror.php)
- [`DivisionByZeroError`](http://

[2016-10-11 03:03] andrewmclagan commented on #104
How did you resolve this? very same issue?

[2016-10-11 03:04] sluchznak commented on #104
refused from docker alpine image

[2016-10-11 03:24] andrewmclagan opened #108 "iconv with alpine docker image"
The logger throws:

[code]

When run in an alpine linux docker container.

The issue can temporarily be circumvented by using the config:

`'enable_utf8_sanitization'  => false,` although this is not desierable

[2016-10-11 03:29] andrewmclagan commented on #104
Refused?

[2016-10-11 03:31] sluchznak commented on #104
we replaced docker php alpine image with full docker php image

[2016-10-11 03:32] sluchznak commented on #104
sorry for my bad english

[2016-10-21 15:36] andywaite commented on #103
Also experiencing this problem. What's the status on this?

[2016-10-21 15:39] andywaite commented on #103
Wouldn't the easiest thing to be to swap the include to a require_once?

[2016-11-14 17:39] MichaelMackus commented on #100
:+1:

I'm on git SHA a71c590123a0b7b2272881a340813336faf35f3a and I'm getting these errors on PHP v7.0 whenever there's a PHP syntax error. Perhaps something to do with the new `\Throwable` interface in PHP 7?

[2017-01-04 10:29] jondeandres commented on #107
Hi @joshuabaker, sorry for the delay. Which version of rollbar-php are you using? We released v1.0.0-beta version, https://packagist.org/packages/rollbar/rollbar, which takes care of the php version to decide which base exception class to use.

In case of php >= 7.0 we use `Throwable` as the base class, which is used by `Error` and `Exception`.

[2017-01-04 10:38] joshuabaker commented on #107
I believe we’re using the stable release, which explains that. Is the beta safe for production?

[2017-01-04 18:48] jondeandres commented on #107
@joshuabaker we didn't have important issues with it in last 6 months so we'll release it this week as 1.0.0. You can wait or upgrade to the beta version. We'll not add more changes between 1.0.0-beta and 1.0.0

[2017-01-04 18:48] #107 closed

[2017-01-31 21:51] martiros opened #115 "Difference between $extra_data and $payload_data"
What is the difference between `$extra_data` and `$payload_data` arguments in `report_exception` function ?

I noticed in web interface rollbar appending `trace.extra.` for `$extra_data`. Is there any other difference?
<img width="961" alt="_4_illuminate_validation_validationexception__the_given_data_failed_to_pass_validation__-_latechmeetups_com_-_rollbar" src="https://cloud.githubusercontent.com

[2017-01-31 22:01] stclairdaniel commented on #115
I believe the difference is that $extra_data is for optional custom data, whereas $payload_data should conform to the required data as seen in our API docs [here](https://rollbar.com/docs/api/items_post/#data-format)

[2017-02-02 10:20] nocive commented on #72
Seeing this exact same behaviour too after switching to php7.
It's definitely a rollbar related problem because when rollbar is not enabled everything works as expected.

[2017-02-02 10:37] nocive commented on #72
See also https://github.com/getsentry/sentry-php/issues/280 for what seems like the same issue.

[2017-02-02 11:15] nocive commented on #108
Had the same problem with alpine with other libraries relying on iconv. Problem can be easily worked around by using ```transliterator_transliterate``` instead (http://php.net/manual/en/transliterator.transliterate.php)

[2017-03-01 21:27] anthropos9 opened #121 "How to tell if logs are submitted via rollbar-agent"
I can't find any documentation that can tell me how I can tell if my logs are being submitted via the rollbar-agent. The agent is running and error logs are being generated then deleted once they've been consumed, but I cannot see anything within the report to indicate that it was in fact submitted via the agent. I'm not sure if there's a key I should be looking for or if it's just that seemless t

[2017-03-28 19:02] #100 closed

[2017-03-28 19:02] #106 closed

[2017-04-03 22:53] rokob opened #122 "Test scrubbing"
As per https://github.com/rollbar/rollbar-php/pull/112 scrubbing does not work correctly. There is one test for scrubbing and it obviously does not cover a reasonable amount of surface area. We need better tests around how things are scrubbed.

[2017-04-03 23:30] rokob commented on #108
This is no longer a thing right? We are not using iconv anymore anywhere.

[2017-04-04 18:15] rokob opened #123 "Get test coverage reported when running tests on travis"

[2017-04-04 18:47] rokob commented on #122
https://github.com/rollbar/rollbar-php/blob/master/tests/DataBuilderTest.php#L152-L163 is the one place that scrubbing is currently tested.

[2017-04-04 18:48] rokob commented on #122
I would check out the comments on https://github.com/rollbar/rollbar-php/pull/112 as to the reasoning for those proposed changes to scrubbing are and what the expected behavior is. In general, if a have a key in scrub_fields, we want to replace the value with `********` but we want to do that within recursive structures as well.

[2017-04-07 04:13] andrewmclagan commented on #108
Sorry no idea... I would like to know though.

[2017-04-07 18:28] ArturMoczulski opened #125 "Research test suite compatibility with more recent version of PHPUnit"
PHPUnit 4.8.* which we are currently using is two majors behind the current stable. I'll experiment with newer versions and see how much we can upgrade to still remain compatible with PHP 5.3+.

[2017-04-10 16:57] #123 closed

[2017-04-11 23:47] rokob opened #127 "Add the request body to the item payload"
The API has a field for information about the request including the body of any PUT/POST requests. We should send this information from this notifier (after appropriate scrubbing).

[code]

[2017-04-14 09:25] ArturMoczulski opened #128 "Update \Monolog\Handlers\RollbarHandler to support master"
The current version of \Monolog\Handlers\RollbarHandler is not compatible with code in master. It requires an instance of RollbarNotifier to be injected in the constructor. RollbarNotifier class has been replaced with RollbarLogger in rollbar/rollbar-php:master

[2017-04-14 09:42] ArturMoczulski commented on #103
This is solved and not relevant anymore in latest master. The library has been completely restructured and currently loading is managed by composer and autoloading.

[2017-04-14 09:42] #103 closed

[2017-04-14 10:56] ArturMoczulski commented on #128
After further investigation, I can see that current master can be used with Monolog since our Logger is PSR-3 compliant. We need to update the README.md with new instructions how to use it though:

[code]

[2017-04-14 11:01] ArturMoczulski commented on #9
1. PSR-1 compliant
2. PSR-2 compliant
3. PSR-3 to check
4. PSR-4 to check
5. PSR-6 to check
6. PSR-7 to check
7. PSR-11 to check
8. PSR-13 to check
9. PSR-16 to check

[2017-04-14 11:10] ArturMoczulski opened #129 "Update README.md to cover master"

[2017-04-14 11:15] #128 closed

[2017-04-14 11:17] ArturMoczulski opened #130 "Mark \Monolog\Handlers\RollbarHandler as deprecated"
The RollbarHandler class currently distributed as part of https://github.com/Seldaek/monolog does not support master. Look at #128 for more details.

[2017-04-14 12:16] ArturMoczulski commented on #122
This is covered by PR https://github.com/rollbar/rollbar-php/pull/126

[2017-04-14 12:17] ArturMoczulski commented on #52
This is covered by PR #126

[2017-04-14 12:19] ArturMoczulski commented on #15
In master we don't include any $_COOKIE information in the payload. This issue is not relevant anymore.

[2017-04-14 12:19] #15 closed

[2017-04-14 12:19] ArturMoczulski commented on #52
In master we don't include any $_COOKIE data in the request. This is not relevant anymore.

[2017-04-14 12:19] #52 closed

[2017-04-14 12:20] ArturMoczulski commented on #31
This is covered by PR #126

[2017-04-17 22:42] ArturMoczulski opened #132 "Add backwards compatibility with 0.18.*"
Add ::report_message and ::report_exception to Rollbar class for backwards compatibility with 0.18.*. These should be wrappers around the new ::log solution and marked as deprecated.

[2017-04-18 22:03] ArturMoczulski commented on #38
@brianr I need a bit more explanation on what needs to be done here:

- What parts of the payload should be truncated?
- The 128kb limit is a limit for the whole payload or single field of the payload?
- Can you provide an example of when such truncating should be done?

[2017-04-18 22:04] ArturMoczulski commented on #38
Also, the rollbar-gem example you provided seems to not be up to date (lines 400-410 are not there anymore). Can you point me to where this resides now?

[2017-04-18 22:06] coryvirok commented on #38
Here's a more up-to-date link - https://github.com/rollbar/rollbar-gem/tree/master/lib/rollbar/truncation

cc @rokob for direction on how to proceed with truncation.

[2017-04-18 22:14] ArturMoczulski commented on #84
I need a bit more explanation on this as well. Where should the version info be gathered? I assume this is about adding that information to the Payload, is that correct? I can see this being done already here: https://github.com/rollbar/rollbar-php/blob/master/src/DataBuilder.php#L466-L469

[2017-04-18 23:15] rokob commented on #38
The API will reject requests that are too large: https://rollbar.com/docs/api/items_post/#response-codes

The docs say 128kb, the reality is that the entire entity-body of the post request must be below 1MB. That is, the Content-Length as defined by: "Content-Length entity-header field indicates the size of the entity-body, in decimal number of OCTETs" must be less than 1MB.

What this means in pr

[2017-04-19 00:57] coryvirok commented on #84
Oh, great. Ya that should be all we need. Closing.

[2017-04-19 00:57] #84 closed

[2017-04-19 01:54] ArturMoczulski commented on #38
This sounds like it's going to take much longer than six hours I provided in the initial estimate

[2017-04-19 14:17] coryvirok commented on #125
Any update on this?

[2017-04-19 23:17] ArturMoczulski commented on #125
Left it out for now to keep focus on scrubbing and v1.0.0 . I'll get to this in 1.1. @coryvirok what do you think?

[2017-04-19 23:18] coryvirok commented on #125
Works for me

[2017-04-21 18:01] #122 closed

[2017-04-24 05:08] ArturMoczulski commented on #70
This is ready for review in https://github.com/rollbar/rollbar-php/pull/134

[2017-04-25 17:37] rokob commented on #70
Merged

[2017-04-25 17:37] #70 closed

[2017-04-26 16:53] rokob commented on #9
Merged

[2017-04-26 16:53] #9 closed

[2017-04-26 16:56] rokob commented on #108
I am adding this to the 1.0.0 release to remember to close this once we actually make that release. This was taken care of in the code updates to 1.0

[2017-04-26 17:28] amoskyler opened #135 "DataBuilder::getUrl() expects HTTP_X_FORWARDED_PROTO breaks with multiple forwarded protocols"
The following method only expects a single value in `HTTP_X_FORWARDED_PROTO`, which is inconsistent with the handling of the `HTTP_X_FORWARDED_FOR` header, which delimits on ',' and pops the last host.

The following code:
[code]

Should be modified as follows:
[code]

[2017-04-27 06:03] ArturMoczulski commented on #132
Rollbar::flush() also seems to be deprecated. From what I see the batching functionality is just not there in 1.0.0. anymore. I can think of two approaches to go about this:

1. Leave Rollbar::flush() for backwards compatibility and have it do nothing (so users who have those function calls in their code currently do not start getting fatal errors - missing method).
2. Remove Rollbar::flush() comp

[2017-04-27 17:44] brianr commented on #132
Strong vote for option 1. Upgrading to 1.0 shouldn't break customers' code.

[2017-04-27 17:59] rokob commented on #127
Merged

[2017-04-27 17:59] #127 closed

[2017-04-27 21:52] rokob opened #137 "Add helper function to inject javascript snippet in views"
In the rollbar gem we provide the ability to inject the snippet for rollbarjs into your html rendered views. We should provide some mechanism that makes that easy to do in php as well.

[2017-04-27 22:50] rokob commented on #132
Merged

[2017-04-27 22:50] #132 closed

[2017-04-28 17:59] NinoSkopac opened #138 "Rollbar doesn't report errors in CLI mode with STDERR piped to /dev/null"
Hey, I don't even know if this is actually an issue, but nevertheless.

Here's how I run my PHP workers:

`nohup /var/www/more/folders/executable.php >/dev/null 2>&1 &`

Whenever the code is broken inside that worker, I don't get it on Rollbar. I run it like this because I don't have a broker in place, and I don't want to wait for worker to finish.

[2017-04-28 21:19] ArturMoczulski opened #140 "Refactor usage of levels in log methods"
@rokob has suggested that usage of Level class needs to be refactored. I completely agree. Currently it's not clear what to use and also not it's compatible with Monolog library.

[2017-04-28 23:37] coryvirok commented on #130
Closing since the linked issue has been closed.

[2017-04-28 23:37] #130 closed

[2017-04-28 23:37] coryvirok commented on #129
Closing since this was just merged - https://github.com/rollbar/rollbar-php/pull/139

[2017-04-28 23:37] #129 closed

[2017-04-29 00:03] rokob commented on #108
Closing this as it is fixed in the newest release.

[2017-04-29 00:03] #108 closed

[2017-04-29 00:04] ArturMoczulski commented on #130
This still needs addressing but it's not anything to do in our code. This is in regards to this part of Monolog package: https://github.com/Seldaek/monolog/blob/master/src/Monolog/Handler/RollbarHandler.php

We need to let them know to mark this as deprecated and update so it works with 1.0.0 for backward compatibility. Or do it ourselves and send them a PR.

Either way, we should probably reopen

[2017-04-29 02:38] ArturMoczulski commented on #140
I strongly suggest we include this in 1.1.0

[2017-04-29 04:21] ArturMoczulski commented on #43
This is already available in v1.0.0 through `$response->wasSuccessful()`

I added an example of how to use this functionality to README.md in the PR

[2017-04-29 07:28] ArturMoczulski commented on #72
This is ready for review in PR #143

[2017-04-29 07:56] ArturMoczulski opened #144 "allow passing ROLLBAR_TEST_TOKEN in phpunit arguments"
It would be great to have PHPUnit take an argument for the Rollbar test token and use that for tests. By default it would use the main Rollbar testing token, but passing a custom token would be very helpful for debugging.

[2017-04-29 08:09] ArturMoczulski commented on #88
Can't reproduce this issue. Arguments are available in the stack trace in Rollbar UI. This issue has probably been fixed by refactors in v1.0.0.

[2017-04-29 08:19] ArturMoczulski commented on #66
This is supported in v1.0.0 with config option `checkIgnore` that takes a callable. This issue can be closed.

[2017-04-29 08:36] flowdee commented on #66
Thanks for the info @ArturMoczulski . Going to check it out soon

[2017-04-29 11:21] ArturMoczulski commented on #53
This is ready for review in PR #145

[2017-04-29 22:34] ArturMoczulski commented on #19
I suggest we provide this as a separate repo that can be optionally pulled in for Laravel projects. So the composer.json require clause would look like this:

[code]

@coryvirok @rokob @brianr

[2017-05-01 03:08] ArturMoczulski commented on #19
This is finished. We should add https://github.com/rollbar/rollbar-php-laravel to packagist so installation is smooth.

Until then installing the package via composer requires adding the following repository entry to composer.json for Laravel projects:
[code]

[2017-05-01 07:07] brianr opened #146 "notifier.version value reported is incorrect"
In version 1.0.0 (current master), the notifier.version is being reported as `1.0.0-beta`, rather than the actual version number, `1.0.0`.

https://github.com/rollbar/rollbar-php/blob/master/src/Payload/Notifier.php#L8

[2017-05-01 13:25] danog opened #147 "Undefined index: 0 on line 785 of DataBuilder.php"
If you log something while passing a json array composed of only numbers as a POST parameter, for example `[1023, 1924]`, the scrub function at line 785 of DataBuilder.php throws an error (undefined index: 0).
This occurs at revision 815f8533ea306374656216b0996098c6120e2102 of the repo

[2017-05-01 13:49] danog opened #148 "Add option to reenable sending of deprecated args field"
An option to reenable sending of the deprecated args field would be really helpful for debugging.

[2017-05-01 13:54] danog commented on #148
Nvm I see that #145 has what I need

[2017-05-01 13:54] #148 closed

[2017-05-01 17:57] rokob commented on #147
I'm working on writing a test for this to see if I can reproduce this failing case.

[2017-05-01 19:10] rokob commented on #147
I created a script that throws an exception and logs to rollbar, I called it via cURL:

 `curl -X POST http://localhost:8080/rollbar.php -H "Content-Type: application/json" -d "[1023,1924]"`

and I do not see any errors being thrown and I see the item logged to rollbar along with request.body set to `[1023,1924]`.

Could you give me some more insight into the request you are making that results in

[2017-05-01 20:18] danog commented on #147
In my case, the json array is sent as a parameter, not as a raw json payload:

curl -X POST http://localhost:8080/rollbar.php -H "Content-Type: application/json" -F "param=[1023,1924]"

[2017-05-01 22:21] rokob commented on #147
I can kinda reproduce this, at least I can see where in the code it is possible to get an undefined index 0 error. I put up a fix and we should get this out in 1.0.1

[2017-05-01 22:57] #147 closed

[2017-05-01 22:58] rokob commented on #146
Fixed in 1.0.1

[2017-05-01 22:58] #146 closed

[2017-05-04 01:56] bretto36 opened #151 "checkIgnore doesn't pass parameters"
https://github.com/rollbar/rollbar-php/blob/master/src/Config.php#L292

I'm trying to implement checkIgnore on 1.0.1 and i am getting warnings about missing paramaters

My config entry
[code]
I don't see where this is passing any parameters? The documentation says it should be passing 3 parameters
[code]

[2017-05-04 20:45] #43 closed

[2017-05-04 22:20] rokob commented on #72
Fixed in #143

[2017-05-04 22:20] #72 closed

[2017-05-05 20:23] brianr opened #153 "Issues with using a custom API endpoint"
I ran into a few problems using 1.0.1 with a custom endpoint (i.e. sending data to a sandbox instance of Rollbar instead of production):

- I expected the config variable name to be "endpoint", like it is in most/all other notifiers. It's actually `base_api_url`.
  - _Suggestion: add support for `endpoint`, and deprecate `base_api_url`_
- After switching to `base_api_url`, I expected the URL forma

[2017-05-06 08:11] bytestream commented on #88
I'm using v0.18.2

[2017-05-08 22:48] #151 closed

[2017-05-09 04:17] p4ul opened #156 "the config item use_error_reporting is not used in code"
**use_error_reporting**
Sets whether to respect current `error_reporting()` level or not
Default: false

If you search the code this is no longer used. Not sure if this is deliberate?

[2017-05-11 23:32] elazar opened #162 "Remove hard dependency on packfire/php5.3-compat"
At this point, PHP 5.3 accounts for less than 1% of all Composer users ([source](https://seld.be/notes/php-versions-stats-2017-1-edition)). The README for this package notes that Composer is the preferred installation method ([source](https://github.com/rollbar/rollbar-php#using-composer-recommended)).

Given this, I believe it would be reasonable to shift from [requiring](https://github.com/rollb

[2017-05-12 03:24] ArturMoczulski commented on #102
This is implemented in PR #155

[2017-05-13 16:44] brianr commented on #19
Related discussion: https://github.com/jenssegers/laravel-rollbar/pull/85

[2017-05-15 21:20] rokob commented on #88
Closing because fixed in 1.0

[2017-05-15 21:20] #88 closed

[2017-05-15 21:21] rokob commented on #66
Closing because this is supported via checkIgnore

[2017-05-15 21:21] #66 closed

[2017-05-15 21:28] #102 closed

[2017-05-15 21:31] rokob commented on #125
I'm going to remove this from the 1.1 release because we are not going to up our minimum version to 5.6 yet, but I will leave it open as something to do in the future.

[2017-05-15 22:05] rokob commented on #19
rollbar/rollbar-php-laravel needs to get up on packagist but otherwise this is done so closing

[2017-05-15 22:05] #19 closed

[2017-05-15 23:01] brianr commented on #19
https://packagist.org/packages/rollbar/rollbar-laravel

[2017-05-16 08:44] boboldehampsink opened #166 "capture_error_stacktraces is not used"
There's no way to disable the use generation of stacktraces anymore.

[2017-05-16 17:42] rokob commented on #53
Merged

[2017-05-16 17:42] #53 closed

[2017-05-16 18:38] rokob commented on #166
The option `capture_error_stacktraces` used to exist to turn this off but has gone away as of 1.0, this should be added back.

[2017-05-16 18:41] rokob commented on #153
Changing `base_api_url` to `endpoint` is a good idea.

Removing `/item/` from the endpoint is also a good idea.

This is not how it used to work, so this should be fixed quickly for backward compatibility

[code]

[2017-05-16 18:43] rokob commented on #162
@ArturMoczulski thoughts on this? Is the 5.3-compat package something we think we need? I think we should drop it and add it as a suggestion especially given composer's support for suggestions.

[2017-05-16 18:43] rokob commented on #162
A PR would be welcome.

[2017-05-16 18:45] #31 closed

[2017-05-16 19:01] elazar commented on #162
@rokob Submitted #169.

[2017-05-16 20:21] ArturMoczulski commented on #153
I will submit a PR for this soon.

[2017-05-16 21:20] #162 closed

[2017-05-16 22:25] ArturMoczulski commented on #162
Yeah, this looks good 👍 Thanks for PR

[2017-05-16 23:09] rokob commented on #38
Merged

[2017-05-16 23:09] #38 closed

[2017-05-17 05:43] chrisLeeTW opened #171 "why error_sample_rates only use for errors ?"
There are no way to set sampling rate for exceptions, only for errors.

[2017-05-19 09:26] alister commented on #128
Adding instructions for how to use Rollbar-php, via aa PSR-3 wrapper, in the MonologBundle configuration would also help me to upgrade to version 1.*.

[2017-05-19 18:01] rokob opened #173 "Local variables with items"
We capture all local variables in Python has an option as part of our SDK. It would be nice to have that option in PHP. http://stackoverflow.com/questions/5101942/dump-all-php-variables might be a starting point along with https://github.com/rollbar/pyrollbar/blob/97623876abeb200182bcc98b4f598dd93f9efcfe/rollbar/__init__.py#L769

[2017-05-19 18:14] rokob commented on #135
HTTP_X_FORWARDED_PROTO really should be single valued, but you are right as it is not actually standardized it can be the same as FOWARDED_FOR

[2017-05-19 18:25] rokob opened #174 "Clean up code climate issues"
Code climate has many warnings about the code, one big one is related to a separate issue about our use of static and level. None of them would I consider to be necessarily high priority bugs, but it would be nice to get rid of them all so that future PRs that are only touching old code don't result in erroneous errors.

[2017-05-23 08:25] brittainmedia opened #176 "Always reports warnings, Only wanted fatal errors"
I have tried configuring rollbar to only report fatal errors temporarily.

I have done this by configuring the _'included_errno'_ option with just **E_ERROR** and **E_ERROR & ~E_NOTICE & ~E_WARNING** with no joy.

Rollbar still seems to report warnings. Please advise.

[2017-05-24 20:34] ArturMoczulski commented on #173
I don't see how this would be possible in PHP. There is nothing like inspect module and get_defined_vars() in PHP only provides information about variables within local scope. From extensive research and my own experimentation I don't see any way of providing locals dump for all stack frames.

[2017-05-24 21:10] brianr commented on #173
@ArturMoczulski Thanks for researching this - that's too bad. However, looks like we can at least get values of function arguments. How about if we change the scope of this story to that?

Example showing values of function arguments being available:

[code]

Output:

[code]

[2017-05-24 21:17] ArturMoczulski commented on #173
@brianr Yeah, but this is already available as part of the exception trace and message trace implemented in 1.1.0

This is a partial dump of information that is already sent to Rollbar from 1.1.0 with traces
[code]

[2017-05-24 21:20] brianr commented on #173
Hm, doesn't seem to be working. I tried this a few minutes ago (before posting my previous comment) using 1.1.1, and there are no stack trace variable values. Example: https://rollbar.com/Rollbar/rollbar-php/items/111/occurrences/25275004700/

[2017-05-25 03:02] p4ul opened #177 "PHP 5.4 issue with php://input"
This function breaks functionality in our script, as it clears out PUT variable body so nothing is returned when our script tries to subsequently access it.

[code]

As file_get_contents("php://input"); can only be called once in older versions of PHP.

See:
Note: Prior to PHP 5.6, a stream opened with php://input could only be read once; the stream did not support seek operations. However, depend

[2017-05-25 19:42] ArturMoczulski commented on #173
I see. What happened there. Here is a PR that adds stack frames arguments values to the traces: https://github.com/rollbar/rollbar-php/pull/178

[2017-05-25 19:47] ArturMoczulski commented on #177
Let me calrify this. In your script you're also trying to access php://input, but now it's empty since it has been already read by Rollbar SDK. Is that correct?

[2017-05-25 20:09] ArturMoczulski commented on #135
This is ready in PR https://github.com/rollbar/rollbar-php/pull/179

[2017-05-25 21:30] p4ul commented on #177
@ArturMoczulski yes

[2017-05-26 09:41] drjayvee opened #180 "config.scrub_fields is applied to config.person?"
We recently switched from 0.x to 1.1.1 and noticed that new issues have "******" as their person.username.

Consider this config:
[code]
I suspect that `config.scrub_fields` is applied to `config.person`, causing `person.username` to be scrubbed when an error is logged.

I would propose that `person` data be ignored by the scrubber.

[2017-05-26 15:41] ArturMoczulski commented on #177
Solution for this is waiting to be merged https://github.com/rollbar/rollbar-php/pull/181

It's not perfect, but I don't think we can do anything more for PHP < 5.6. This PR disables reading php://input by default and allows to enable it through `include_raw_request_body` config option. It also saves the content of the stream in `$_SERVER['php://input']` in case you still want to access it.

I hop

[2017-05-26 17:07] ArturMoczulski commented on #156
I used the PR from vilius-g https://github.com/rollbar/rollbar-php/pull/159 as base for my PR with added test coverage.

This is ready for review and merging.

[2017-05-29 17:51] ArturMoczulski opened #188 "Remove fluent log output from composer test"
When I run `composer test` I get a bunch of output from fluent tests not being able to connect to fluent service. This needs to be cleaned up.

[2017-05-30 01:01] ArturMoczulski commented on #153
Ready for review in https://github.com/rollbar/rollbar-php/pull/189

[2017-05-30 01:19] ArturMoczulski commented on #166
@rokob Not sure about this. Just went through the log and I can't see any code related to `capture_error_stacktraces` at all. There was documentation in README.md for it, but no actual code.

Either way, I'm going to implement this for 1.2.0

[2017-05-30 13:01] jeliasson opened #191 "Rollbar::log() responds with status 0"
Dear all,

We're in the process of upgrading Rollbar from version ```0.18.2``` to ```1.0.1```. However, when running ```
Rollbar::log()``` it's not being reported.

[code]

**Response**
[code]

What is wrong here?
I've also tried to send a string instead of $exception, but it generates the same response.

Thanks in advance!

[2017-05-30 13:16] ArturMoczulski commented on #191
Can you show what's in your `$rollbarInit`? Just scrub sensitive information before posting.

[2017-05-30 16:17] ArturMoczulski commented on #166
This is ready for review in PR https://github.com/rollbar/rollbar-php/pull/192

[2017-05-30 21:48] #135 closed

[2017-05-30 21:51] #156 closed

[2017-05-31 17:33] rokob commented on #153
Merged

[2017-05-31 17:33] #153 closed

[2017-05-31 17:35] #137 closed

[2017-05-31 22:47] ArturMoczulski commented on #174
I pull #140 into 1.2.0 to refactor the levels which should resolve a lot of Code Climate issues and we have been looking to get this done for a while.

[2017-05-31 22:52] ArturMoczulski commented on #174
**For tracking**
There is currently:
224 Code Climate issues
310 Codacy issues

[2017-06-01 18:34] rokob commented on #166
Merged

[2017-06-01 18:34] #166 closed

[2017-06-01 18:35] rokob commented on #173
Merged with #192

[2017-06-01 18:35] #173 closed

[2017-06-02 21:37] and-megan opened #196 "Add buffering functionality"
The previous version of rollbar-php (0.18.2) would batch send messages. This version sends messages when they are received. In the case of a severe error, many messages will be logged one after another. Is there any plan to restore the batched messages?

[2017-06-05 07:53] jeliasson commented on #191
Sorry for keep you waiting. I had not a chance to test in the environment up until now.

[code]

**Result**
[code]

[2017-06-06 15:12] brittainmedia commented on #176
Had a typo in included_errno. Closing

[2017-06-06 15:12] #176 closed

[2017-06-07 17:39] coryvirok commented on #196
Buffering is a good idea. We have this implemented in some of the other SDKs but it's all client-side. We aren't planning on supporting the batch endpoint on the server-side any longer. However, we can support buffering up a configurable # of messages and a maximum amount of time to buffer in the SDK.

If you just want the ability to send data in batches, I would recommend looking at the [rollbar-

[2017-06-07 17:47] coryvirok commented on #115
Hi @martiros,

We have refactored the SDK quite a bit since this issue was first filed. Is this question still open?

[2017-06-08 12:42] olafnorge commented on #188
Hi @ArturMoczulski,

I digged a little bit around and found out that, for some reason, the fluent sender is registered as handler when `Rollbar\ReadmeTest::testQuickStart()` gets executed.

[code]

I might be wrong but I think in `Rollbar\FluentTest` the default error handler needs to be restored, because it is running before the `Rollbar\ReadmeTest::testQuickStart()`. Do we have a function for th

[2017-06-08 13:05] olafnorge commented on #188
I think the issue can be found in line https://github.com/rollbar/rollbar-php/blob/master/src/Rollbar.php#L20 because the `$logger` instance is declared as static class variable. In the scope of all tests PHPUnit will be a single process, that means the `Rollbar` instance never gets destructed and stays as long as all tests have been executed.

[2017-06-08 13:07] olafnorge commented on #188
But the solution seems quite simple. If we change https://github.com/rollbar/rollbar-php/blob/master/phpunit.xml#L9 to `true` each test gets executed in its own context.

[2017-06-08 13:20] olafnorge commented on #188
I created a [PR](https://github.com/rollbar/rollbar-php/pull/197) to close this issue.

Unfortunately one test is failing. I think this is because of the process isolation. Please take a look and advise me how to fix it.

[2017-06-09 08:53] olafnorge commented on #188
Hi @ArturMoczulski, hi @coryvirok,

I created an alternative [PR](https://github.com/rollbar/rollbar-php/pull/198) which has a lot more changes but does not fail with test coverage.

But there is still one test failing and I have no idea why.

[code]

[2017-06-09 09:03] olafnorge commented on #188
It seems the `DataBuilderTest::testPersonFuncException` is dependent on any previous test in this unit. If I run the master branch I don't get this error (commented out `FluentTest` before execution).

From my point of view the `DataBuilderTest` needs some refactoring to follow unit test standards like:

- Make each test orthogonal (i.e., independent) to all the others

[2017-06-09 23:12] coryvirok opened #200 "Add helper methods for Level"
It'd be really useful to have some helper methods like:

[code]

[2017-06-11 22:48] marty-mart commented on #115
Hi @coryvirok,

We haven't been upgraded to new SDK yet. But we figured out the answer to the question. Thanks!

[2017-06-11 22:49] martiros commented on #115
Hi @coryvirok,

We haven't been upgraded to new SDK yet. But we figured out the answer to the question. Thanks!

[2017-06-11 22:49] #115 closed

[2017-06-12 00:41] ArturMoczulski opened #202 "add nonce verification when processing $_POST"
This is a security loophole Codacy brought to my attention:
![image](https://user-images.githubusercontent.com/2106631/27015820-0e7362ee-4ecd-11e7-875a-059e9492825c.png)

It's not an emergency, but we should look if lack of nonce verification exposes any danger of CSRF attacks and if so, how to prevent this.

[2017-06-13 16:42] olafnorge commented on #188
Hi. I just saw the PR got merged. I think this issue could be closed then. Cheers.

[2017-06-13 18:14] #188 closed

[2017-06-13 18:15] #177 closed

[2017-06-13 19:55] #140 closed

[2017-06-14 18:07] coryvirok commented on #191
Looks like the error is being ignored via the `checkIgnore()` function in Config.js. The response you're seeing is likely from here: https://github.com/rollbar/rollbar-php/blob/14598997951469d8a0df51cc0849a79f1a1c1a89/src/RollbarLogger.php#L48

Check to make sure you don't have error reporting disabled. This code would cause the exception to be ignored in that case: https://github.com/rollbar/roll

[2017-06-15 07:11] sebestenyb opened #204 "Maximum execution time of 30 seconds in DataBuilder.php"
Hi there

the error log of our site is full of these error messages:

[code]

I'd appreciate any help, thanks!

Cheers, Sebi

[2017-06-15 19:59] coryvirok commented on #204
Yikes! Thanks for bringing this to our attention!

[2017-06-15 20:01] sebestenyb commented on #204
I'm sorry, couldn't really track down what's going on, the stack trace is only that one line you see

[2017-06-15 20:03] rokob commented on #204
What version are you using? There used to be an infinite loop there.

[2017-06-15 20:09] sebestenyb commented on #204
[code]

[code]

[2017-06-15 20:14] rokob commented on #204
It is weird that it is pointing to Line 409, which is the point where the code currently lives that used to have a loop. The fix was https://github.com/rollbar/rollbar-php/pull/158 which is in v1.1.0 and later. The bug was definitely in v1.0.1, but it was on a different line. So I'm not exactly sure what is happening, but I strongly suspect the line number in the stack trace is just wrong and the

[2017-06-15 20:17] coryvirok commented on #204
Maybe the process hasn't been restarted since the rollbar library was updated?

[2017-06-15 20:17] sebestenyb commented on #204
[code]

[2017-06-15 20:19] sebestenyb commented on #204
https://github.com/rollbar/rollbar-php/blob/v1.0.1/src/DataBuilder.php#L409

[2017-06-15 20:28] rokob commented on #204
Yeah that code doesn't make sense to me that it could ever really take more than 30 seconds. On the other hand, https://github.com/rollbar/rollbar-php/blob/v1.0.1/src/DataBuilder.php#L342 can for sure result in an infinite loop. But if we start from the presumption that L409 in v1.0.1 actually can take a long time, let me look into what might be happening there.

[2017-06-15 20:40] rokob commented on #204
Okay so potentially this has to do with different line endings, I still am not sure because I wouldn't expect a timeout but a different error, but it could be related to https://github.com/rollbar/rollbar-php/pull/185

[2017-06-15 21:33] sebestenyb commented on #204
I realised that for this project we actually ran out of our quota on Rollbar - could it be an issue?

[2017-06-16 06:53] jeliasson commented on #191
Any idea what causing me to end up there? Error reporting is not disabled on the development environment,

[code]
**Result**
[code]

[2017-06-16 15:15] ArturMoczulski commented on #174
This is ready for review in PR https://github.com/rollbar/rollbar-php/pull/205

[2017-06-19 15:08] rokob opened #206 "Bug in DataBuilder reversing frames"
We used to actually reverse the frames in 0.18.2 and prior: https://github.com/rollbar/rollbar-php/blob/fafe13f8beb669d6bba0137f3703fa808d50cbb7/src/rollbar.php#L770

at some point a bug was introduced where we call reverse but do not store the result:

https://github.com/rollbar/rollbar-php/blob/master/src/DataBuilder.php#L470

`array_reverse` does not mutate the argument

[2017-06-19 15:21] rokob opened #207 "Ensure custom data is included even with errors"
Supposedly the extra custom data is ignored in calls with errors, including this one from the docs:

[code]

Figure out if this is true and fix this. If it is not true, ensure that there is a test for it, but also try to figure out if this was true in within the past version and where it was fixed.

[2017-06-19 19:19] rokob commented on #202
I don't think this is an issue. We are using that setPost to store the data as context for an error, we are not actually sending this request.

[2017-06-19 21:05] rokob commented on #180
There is a bit of tradeoff here so it isn't exactly obvious what one should do. We want to scrub the entire payload based on the scrub_fields configuration, special casing the person data will quickly lead to the opposite issue where people will be surprised that the password that they didn't strip out of their user object is not being scrubbed.

One workaround is to use a custom transform to add

[2017-06-19 21:09] rokob commented on #204
The quota should not matter, it should just return a response from the server saying as much and finish quickly.

[2017-06-19 21:10] #202 closed

[2017-06-19 21:48] sebestenyb commented on #204
I've double checked, and I do restart the queue workers on deploy, so it's 100% that a package update would use the new libraries.

But as far as I know we don't even have queued jobs here, only regular web requests.

[2017-06-20 16:17] ArturMoczulski commented on #202
Cool. In that case I'll just annotate this to not be ignored by PHP MD

[2017-06-21 18:21] unix1 commented on #196
Hello @and-megan @coryvirok - thank you for helping. Just to be explicit in changes from 0.x to 1.x:

In 0.x branch:
- events were sent using [register_shutdown_function](https://secure.php.net/manual/en/function.register-shutdown-function.php) callback function which executes after php has completed processing and before the process is shut down
- events were batched by default so only 1 HTTP con

[2017-06-22 14:09] drjayvee commented on #180
Thanks for your detailed reply.

I agree that it's a tradeoff. Maybe the best way forward is to keep the functionality as is but document this? The documentation about `scrub_fields` should probably mention that it's best not to include `username` (or any other `person` keys).

As for my particular problem: I'll go for an easy workaround: using something other than `username` in the login form.

[2017-06-22 19:58] coryvirok commented on #196
Thanks for the feedback! I defer to @rokob on the technical parts.

[2017-06-22 23:16] Lidbetter opened #209 "Upgrade to any version > 0.18.2 more than doubles CPU usage"
Hi,

Using Rollbar 0.18.2:
We normally see 2-4k requests per min come through our load balancer, which are then served by 2 AWS m1.large instances at ~40-60% CPU utilization

Using Rollbar 1.0.1 or 1.1.1 (tried to upgrade twice):
Our 2 AWS m1.large instances immediately jumped to 90-100% CPU utilization, we then scaled to 5 AWS m1.large instances to support the same amount of traffic at ~40-60% CP

[2017-06-23 16:15] rokob commented on #191
I've noticed status 0 for both things that are ignored, but also when the server cannot be reached, either due to some network configuration or just the connection being down.

[2017-06-26 08:49] #174 closed

[2017-06-26 11:20] jeliasson commented on #191
I can assure that we have connectivity and not utilizing any proxies. Anyone have any recommendations on how we can advance on this issue? Thanks!

[2017-06-26 12:46] PatchRanger opened #212 "Rollbar erroneously throws "Invalid log level 'notice'" exception"
### Problem
I've added Rolllbar to my application as Monolog handler. It keeps throwing "Invalid log level 'notice'" exception.

### Reason
PSR-3 says:

While Rollbar doesn't seem to support `notice`.

### Solution
We should add `notice` level in order to complain PSR-3.

[2017-06-26 12:52] PatchRanger commented on #212
Looks fixed in the latest dev: https://github.com/rollbar/rollbar-php/commit/e5cb998feacef078bf98aa4375cb4748ca01acfc . Please release as a new stable version.

[2017-06-28 01:30] #200 closed

[2017-06-28 01:30] #206 closed

[2017-06-28 01:30] #207 closed

[2017-06-28 06:45] ArturMoczulski commented on #207
I tracked this down all the way v1.0.0 and also investigated the closest functionality there is to this in v0.18.2. It all works as expected - $extra is included in the payload. PR contains a detailed test to ensure this as well.

@rokob do you know where the suspicion of this not working correctly came from?

[2017-06-28 07:39] rokob commented on #207
A user report, but it was limited in detail so this is probably sufficient.

[2017-06-28 10:53] ArturMoczulski commented on #121
This is can be accomplished by configuring the `ARGS` variable in `rollbar-agent-init.sh`

Change the line https://github.com/rollbar/rollbar-agent/blob/master/rollbar-agent-init.sh#L22
to
`ARGS="--config=$CONFIG_FILE --verbose"`

This will make rollbar-agent more verbose and you will start getting the following logging in your `/var/log/rollbar-agent.log`

[code]

[2017-06-28 10:54] ArturMoczulski commented on #121
If this becomes a repeating request I would consider making this configurable through `rollbar-agent.conf`

[2017-06-28 10:54] #121 closed

[2017-06-29 02:04] ArturMoczulski commented on #180
This is ready for review in https://github.com/rollbar/rollbar-php/pull/216

[2017-06-29 02:05] ArturMoczulski commented on #171
This is ready for review in https://github.com/rollbar/rollbar-php/pull/215

[2017-06-30 17:19] and-megan opened #218 "Exception level 'alert' not working when using Whoops exception handler"
Whoops and Rollbar cannot coexist as error/exception handlers, so used Whoops as the primary exception handler.

The plan was: inside Whoops custom handler, log the error with Monolog, and then add the Rollbar handler so the same error theoretically should go to Rollbar. Some test exceptions were injected in our controllers' code. The exception message was not logged to Rollbar - the error reporte

[2017-07-03 11:16] ArturMoczulski commented on #144
Ready for review https://github.com/rollbar/rollbar-php/pull/219

[2017-07-03 11:31] ArturMoczulski commented on #138
@NinoSkopac I just tested this and it seems to be working fine. Can you give me a specific example of what kind of "broken code" inside your workers is not logging? What kind of errors or exceptions?

[2017-07-03 11:38] ArturMoczulski commented on #68
`report_exception()` is deprecated since `v1.0.0`. New implementation supports `$extra_data` so I'm not sure if this is still a feature request. I'm closing the issue for now, but @erichard please let us knows if you still have a request for a missing feature.

[2017-07-03 11:38] #68 closed

[2017-07-03 12:43] NinoSkopac commented on #138
It's been 2 months man, I have no idea. Also, this was for Rollbar 0.x branch.

[2017-07-03 12:43] #138 closed

[2017-07-03 23:40] #171 closed

[2017-07-03 23:41] #180 closed

[2017-07-05 17:48] cordoval opened #220 "Sorry but calling exec() on production????"
Can we have a configurable way of getting rid of this optionally if you want, the sha1 can be passed via env var but way different not assuming you have git installed even on deploy

[code]

[2017-07-06 02:33] rokob commented on #220
Yeah these git calls seemed a bit heavy to me as well, they are also a bit troubling from a performance perspective. It's a good idea to make it at least configurable to be optional.

[2017-07-06 02:36] rokob commented on #218
https://github.com/rollbar/rollbar-php/commit/e5cb998feacef078bf98aa4375cb4748ca01acfc added the alert level, plus some others that were missing for PSR 3 compliance. That is in the v1.2.0 release.

[2017-07-06 02:36] #218 closed

[2017-07-06 02:41] rokob commented on #209
Hey sorry about this, I have been working on profiling the library and fixing the hot spots, this PR https://github.com/rollbar/rollbar-php/pull/217 is the work. The main changes from 0.18.2 to 1.0 are that we are doing more scrubbing/truncation work and the logs no longer are batchable. So I am addressing those two areas. Will update you with what I find.

[2017-07-06 02:42] rokob commented on #212
Released v1.2.0

[2017-07-06 02:42] #212 closed

[2017-07-06 07:59] Lidbetter commented on #209
Thanks for the update, looks good so far

[2017-07-07 17:25] rokob commented on #196
I basically did this in https://github.com/rollbar/rollbar-php/pull/217 as part of the work on performance, I will update you with the details once that is finalized.

[2017-07-07 18:06] unix1 commented on #196
Excellent! Thank you for following up.

[2017-07-13 02:00] ytn3rd opened #221 "README.md rollbar.js docs incorrect?"
The readme [says](https://github.com/rollbar/rollbar-php/tree/2af8e2d73b0763a02a50cd8f8bd2b857dab1cc8d#integration-with-rollbarjs) that we can setup rollbar.js like so,

[code]

I kept getting unauthorised access tough. Looking at the [source](https://github.com/rollbar/rollbar-php/blob/2af8e2d73b0763a02a50cd8f8bd2b857dab1cc8d/src/RollbarJsHelper.php#L59) it uses the options key in $config, not $c

[2017-07-13 22:22] rokob commented on #221
Um yes that appears to be a bug in the documentation. I'm not sure why we use the options key for the configuration. I think the fix would be to just use the passed in config and leave the docs the way they are.

[2017-07-13 22:49] ytn3rd commented on #221
Am going to throw through a few PRs today so Ill fix that.

[2017-07-13 22:49] #221 closed

[2017-07-14 11:14] Guite opened #225 "Allow custom JS addition in RollbarJsHelper"
It would be nice if there was a parameter for passing additional JavaScript code to the `RollbarJsHelper#buildJs()` method. This would be particularly useful for `Rollbar.global` and `Rollbar.configure` calls.

Because of a problem in IE9 (see https://github.com/rollbar/rollbar.js/issues/189) these must not be added in a separate `script` tag.

My current workaround is something like this:

[code]

[2017-07-14 11:17] Guite opened #226 "Update rollbar.js code snippet"
Currently https://github.com/rollbar/rollbar-php/blob/master/data/rollbar.snippet.js includes version 1.9.4 of rollbar.js. The most recent version is 2.1.0 though as shown in https://github.com/rollbar/rollbar.js/releases

Maybe think about a way to specify the desired version or semi-automate the update...

[2017-07-14 23:20] and-megan opened #227 "Add curl_error() to check for log submission failures"
developing on Windows using the WAMP stack ("WAMP SERVER 3.0.0"). It turns out curl was unable to connect to Rollbar securely because properly certificates weren't set up properly. Unfamiliar with how certificates work but found several online answers detailing how this issue, which lots of people with WAMP have encountered, can be fixed.

The Stack Overflow answer that helped: https://stackoverfl

[2017-07-15 00:37] ArturMoczulski commented on #226
This is a good place to figure out the process for automating rollbar.js updates.

[2017-07-15 01:20] #220 closed

[2017-07-15 02:08] ytn3rd commented on #226
I don't like the idea of the JS code automatically updating because the php code detected a new version, but rather when you deploy rollbar-php it will have a set version of the rollbar.js version. At least then when you test it on a staging server and it works, you know its not going to suddenly break tomorrow because there was a breaking change in the JS that was updated.

Is it possible to have

[2017-07-15 02:13] ArturMoczulski commented on #226
Ready for review in https://github.com/rollbar/rollbar-php/pull/228

[2017-07-15 02:15] ytn3rd commented on #226
Learning more about composer every day, that is heaps better than the silly things I was thinking of!

[2017-07-15 02:15] ArturMoczulski commented on #226
Just to clarify, you would like to be able to specify what version of rollbar.js you want to pull in rather than have the PHP SDK pull in the latest by default, is that correct?

[2017-07-17 00:31] ytn3rd commented on #226
@ArturMoczulski , not lock to a specific version. My idea was to file_get_contents on a URL to drag latest copy down and save it locally. I didn't like the idea of testing my code and having it work and then having the system auto-update and it breaks.

Having the rollbar.js as a dependency in composer is a lot better. It means that when I update my packages and test it al, thats where it will be

[2017-07-17 14:48] cordoval opened #229 "Make fluentd a suggest requirement rather than mandatory"

[2017-07-18 22:53] #144 closed

[2017-07-19 04:48] ytn3rd commented on #226
Is it possible to set a dependency of roller.js as something like >=1.9.4 or something so it can use anywhere from 1.9.4 to current master, and then if someone wants to stick with 1.9.4 they can add roller.js dependency in their composer manually before rollbar-php so if they want to lock to lower versions they can, if they want master automatically they can.

[2017-07-19 04:56] ArturMoczulski commented on #229
What's the reasoning behind making this change? @rokob @coryvirok what do you guys think?

[2017-07-19 04:58] brianr commented on #229
@cordoval's suggestion sounds like the right thing to do to me. Most people using rollbar-php aren't going to use the fluent connector, so there's no reason it should be a required dependency.

[2017-07-19 05:30] cordoval commented on #229
The way this works also is i use kubernetes and I have to have the freedom to just channel the exceptions however we wanted. Fluentd is not bad, just not a must have.

[2017-07-19 07:06] ArturMoczulski commented on #229
Ready for review in PR https://github.com/rollbar/rollbar-php/pull/230

[2017-07-19 07:28] ArturMoczulski commented on #227
@and-megan thanks for feedback on this. Do you happen to have any logs produced as a result of this?

[2017-07-20 11:43] lolos opened #232 "Call to a member function getUuid() on a non-object"
When we try to upgrade from version 0.18.2 to 1.2.0 (with the agent enabled), we get the error:

`FATAL: Call to a member function getUuid() on a non-object in /vendor/rollbar/rollbar/src/Rollbar.php:226`

When we disable the agent, everything works fine. Any ideas?

[2017-07-20 21:27] cordoval commented on #232
Agent is python, so old version of rollbar maybe have put it in there and you are trying to send it with the new version of rollbar

[code]

something like
[code]
the level is invalid

after you upgrade for a long time, do you still get these? maybe flush your agent

if you don't have problems anymore you may close this issue

[2017-07-20 21:30] cordoval commented on #229
closing this as #230 is LGTM too 👍

[2017-07-20 21:30] #229 closed

[2017-07-20 21:35] cordoval commented on #227
Monolog does something similar:

[code]

Maybe it is just plugging this into the CurlSender?

[2017-07-20 21:37] cordoval commented on #226
we should just set some hook to compile this and plug it, no need to stain the composer.json please 👎

[2017-07-20 21:43] cordoval commented on #225
@Guite correct me if i am wrong, a better option maybe it is to use the regular js and not the helper? The helper sounds a way to just configure the js when not used fully? am i wrong? If not then this helper is just like an example.

[2017-07-20 21:46] cordoval commented on #209
@rokob are you using blackfire or what? just curious 👍 great job

[2017-07-20 21:49] rokob commented on #209
Xdebug and Webgrind

[2017-07-20 21:55] cordoval opened #233 "Encryption for HIPAA"
I am trying to see from the client how the encryption is being done according to the document here:

https://cdn.rollbar.com/assets/shared/resources/compliance.pdf

i fail to find where, so we can enable it on our end?

or is there no support yet for this client to plug the key per project?

[2017-07-20 22:19] coryvirok commented on #233
Hi @cordoval,

Our SDKs encrypt your data while in transit from your machines to ours using HTTPS. Once it reaches one of our machines we encrypt it before writing it to disk. So, all of the encryption of the data at rest is done within our datacenters so you don't have to worry about configuring anything on your end.

If you'd like to enable encryption for your Rollbar account, someone from our t

[2017-07-20 22:21] cordoval commented on #233
Thanks @coryvirok

[2017-07-20 22:21] #233 closed

[2017-07-21 01:41] ArturMoczulski commented on #225
@cordoval you're making a good point, but I don't see a problem with supporting both ways, especially if it would make things easier for @Guite

[2017-07-21 02:02] ArturMoczulski commented on #225
Ready for review in PR https://github.com/rollbar/rollbar-php/pull/235

[2017-07-21 04:47] Guite commented on #225
@cordoval There is a huge benefit from using the helper: I don't need to create additional copies of the JS code I need to maintain myself. This way I only have to update rollbar-php instead of having to care for rollbar.js, too. Also the helper has been added to rollbar-php anyway so we should look for making it applicable for many use cases.

@ArturMoczulski Looks good, thanks!

[2017-07-21 04:49] cordoval commented on #225
@Guite i think you have not seen the default way of doing it with yarn and requiring the package.
But i won't stop you from doing it. It is good helper for people that want to do that.

[2017-07-25 05:03] bretto36 opened #236 "Error Duplication"
Hi All

Having some issues with this, everytime an Exception is thrown i get 2 items appear in rollbar. See below. How do i make it so only 1 error is thrown

#3632 E_ERROR: Uncaught Exception:: Uncaught Exception: Call to undefined method:
#3645 Exception: Call to undefined method:

\Rollbar\Rollbar::init(array(
                'access_token' => 'a3c1d64d84574031ae664a84622c0608',

[2017-07-26 23:21] Mattnmoore opened #237 ""invalid or missing instance" error"
I recently upgraded to the latest version, and I started getting this error when I try to send anything to Rollbar.

[code]

[code]

[2017-07-26 23:26] Mattnmoore commented on #237
It does seem like I can get requests to send correctly if there's no session data, but on the old version it sent our session data without any issues. Are there any constraints or reserved session indices that we need to take into consideration?

[2017-07-28 14:22] rokob commented on #237
There has to be something else going on, that error message means that a payload was sent without a data key. I copied that code into a file and ran it even after setting something in $_SESSION. What is in your session when it fails?

[2017-07-28 14:24] #225 closed

[2017-07-28 14:24] #227 closed

[2017-07-28 14:41] rokob commented on #232
The AgentSender does not return a response so getUuid() gets called on nothing. Fixed by #239

[2017-07-29 03:34] #232 closed

[2017-07-30 05:44] ArturMoczulski commented on #236
Ready for review in PR https://github.com/rollbar/rollbar-php/pull/240

[2017-07-30 06:01] ArturMoczulski commented on #237
@Mattnmoore can you provide a dump of your session data as per @rokob request so we can investigate further?

[2017-07-31 12:15] #196 closed

[2017-07-31 12:16] rokob commented on #125
I'm actually going to close this as the issues is not a good place for things that can't be done.

[2017-07-31 12:16] #125 closed

[2017-07-31 14:05] ikovalyov opened #241 "Project size"
Hi.

[code]
Don't you think 31 MB for a project wichi sends error logs to 3rd-arty service is a lot?
Thanks.

[2017-07-31 14:57] rokob commented on #241
This is due to the inclusion of rollbar.js in vendor, I'm going to see how we can fix that.

[2017-07-31 14:59] rokob commented on #226
Including the entire rollbar.js project for just a single small file is untenable. We don't need to auto update the file, just having a script that grabs the snippet when we do a release is good enough.

[2017-08-02 13:13] mathroc opened #243 "class names in stack trace frames"
it would be nice to display the class name of the method calls in the stack trace frames

in Symfony, in production the classes are compiled into one big file so the file name is not helpful and only the method name is not enough.

you might want to take a look at how it’s done in symfony :
![screenshot-2017-8-2 notice undefined variable zone 500 internal server error](https://user-images.githubus

[2017-08-02 15:55] matjack1 opened #244 "Level::fromName not existing anymore"
Hello,

I've noticed that the public method `Level::fromName` is not existing anymore, is that intentional? Now the `__callStatic` method in the `Level` class is also picking up the calls to fromName and obviously break.

Would you like to reimplement `fromName` in `Level` or it was intentionally removed?

[2017-08-02 18:49] Mattnmoore commented on #237
It's a legacy application and there is a huge amount of data that gets stored in the session. There is a key of "instance". Could that be screwing something up? It's interesting because the old version didn't have this issue, even with the same session data.

[2017-08-02 19:27] #236 closed

[2017-08-02 19:27] #241 closed

[2017-08-02 19:27] #226 closed

[2017-08-03 03:47] ArturMoczulski commented on #244
This was intentionally removed. baibaratsky/yii-rollbar should be updated.

[2017-08-03 03:47] #244 closed

[2017-08-03 04:59] ArturMoczulski commented on #243
Ready for review in PR https://github.com/rollbar/rollbar-php/pull/245

[2017-08-03 05:08] ArturMoczulski commented on #237
@Mattnmoore I just tried to reproduce the issue and used an `instance` key in the `$_SESSION` global. No success :( @rokob Do you think we can look into what's happening there when the request is processed by the Rollbar service that's produces the `invalid or missing instance` for @Mattnmoore requests?

[2017-08-03 07:07] Mattnmoore commented on #237
If nothing else, I could start scrubbing the keys one by one before I call Rollbar. I was just curious if there was something obvious I was missing, or if it was a potential bug. Thanks for your guys' help!

[2017-08-04 16:42] jessewgibbs opened #246 "Magento 2 support"
Internal discussion in https://app.clubhouse.io/rollbar/story/25182/get-magento-2-to-work-with-rollbar

[2017-08-07 23:54] jessewgibbs opened #248 "Show data for PUT requests in rollbar-php"
Details in https://app.clubhouse.io/rollbar/story/20293/show-data-for-put-requests-in-rollbar-php

[2017-08-08 09:27] jianzhong opened #249 "RollbarNotifier class is missing in Monolog handlers folder"
In monolog/src/Monolog/Handler/RollbarHandler.php, the class is trying to use a non-existing class 'RollbarNotifier' as the first parameter in the constructor. This causes PHP fatal error in my Symfony application. Our Rollbar upgrade failed due to this issue.

[2017-08-08 16:41] jessewgibbs opened #250 "Support attaching custom data to all error reports from the config object"
details in https://app.clubhouse.io/rollbar/story/11172/support-attaching-custom-data-to-all-error-reports-from-the-config-object

[2017-08-08 17:15] jessewgibbs opened #251 "Wordpress support"
Details in https://app.clubhouse.io/rollbar/story/1204/wordpress-support

[2017-08-08 18:03] jessewgibbs opened #252 "Support new rollbar interfaces"
Details in https://app.clubhouse.io/rollbar/story/17892

[2017-08-10 17:54] elazar commented on #209
@rokob Was this was resolved by #217? [This comment|https://github.com/rollbar/rollbar-php/pull/217#issuecomment-318613017] from that PR indicates that the performance fixes are behind a configuration flag that's disabled by default and doesn't appear to be documented anywhere. Can you provide further details here?

[2017-08-11 01:03] #243 closed

[2017-08-11 01:09] #237 closed

[2017-08-11 01:23] ArturMoczulski commented on #209
@elazar I believe the configuration flag is `batched`

[2017-08-11 03:42] ArturMoczulski commented on #204
@sebestenyb Is there an update on this? Are you still experiencing problems?

[2017-08-11 16:37] jianzhong commented on #249
I've made a further investigation on the issue. The issue happened when I was trying to upgrade Rollbar from 0.18.2 to a later version by doing `composer require ~1.1`. The error was something like:

I noticed some changes in the autoload_psr4.php file under vendor\composer folder. The line

becomes

If I changed RollbarNotifier to Rollbar, then I got another error in my Symfony application:

[2017-08-14 16:25] rokob commented on #252
This was done with the 1.0 release

[2017-08-14 16:25] #252 closed

[2017-08-14 16:30] rokob commented on #209
So there are a few potential issues that could have been causing performance problems. I fixed all of the ones that I could find. I also reintroduced the ability to send errors in batches instead of as they arise. However, the way we send batched errors is different as we no longer support an api endpoint that accepts a batch of errors. Instead we are using libcurl's multiplexing feature. So you c

[2017-08-14 17:47] Lidbetter commented on #209
Thanks for your effort on this @rokob we will be testing out `1.3.1` this week (probably today).

[2017-08-15 23:19] #250 closed

[2017-08-16 05:16] ArturMoczulski commented on #249
This is ready for Monolog's team review in the following PR https://github.com/Seldaek/monolog/pull/1042

[2017-08-17 19:40] rokob commented on #248
There was a user report of an item that occurred during a PUT request with a POST body and that the body of the request was not included in the payload. This was using 0.18.2. I think that since 1.0 we have been including the POST body in the payload, but just double check that before closing this.

[2017-08-17 19:44] rokob commented on #246
The desired end goal is to: "override the default Magento Stream Handlers with the Stream Handler for Monolog that we provide. There definitely is a lack of "plug-and-play" information and support for Magento 2 with Rollbar"

For Magento 1, there is an Airbrake workaround which works: https://github.com/airbrake/Airbrake-Magento except for front end error reporting

This might not need any code, b

[2017-08-17 19:46] rokob commented on #251
Some type of first class plugin for wordpress for capturing JS and PHP errors and sending them to Rollbar. There is a community plugin: https://github.com/digitalmedia/rollbar

We may want to point to the community one, or we may want to fork it and make it better, or we may want to start from scratch. Possibly leveraging this notifier to do most of the work would be ideal.

[2017-08-19 01:12] rokob commented on #191
As far as I can tell, there are legitimate scenarios where there is a status code of 0 being returned, e.g. one of the dummy responses due to checkIgnore functions or not being enabled, or having poor connectivity. Are there other scenarios? And if so, is it true that the data is not making it to Rollbar?

[2017-08-19 01:13] rokob commented on #209
Going to close this, please re-open or open a new issue if there is still a problem.

[2017-08-19 01:13] #209 closed

[2017-08-19 01:13] rokob commented on #204
Closing, please re-open or open a new issue if this is still a problem.

[2017-08-19 01:13] #204 closed

[2017-08-19 03:45] Lidbetter commented on #209
We still experienced a massive performance hit (pretty much unchanged from before - with both batching (50) on and off). I realize that is not super helpful in narrowing down where the problem is. Just got approval for blackfire, so will benchmark the differences and hopefully narrow down where the issue lies.

[2017-08-21 15:37] kaikiai opened #254 "Rollbar Exception Logging ignores File and Line on Exception itself"
Dear Rollbar Team,

when logging an Exception the Trace Information is solely taken from $Exception->getTrace().
Our Problem is, that this Information doesn't hold the actual File and Line where the Exception was thrown.
This is only found in the getLine and getFile named Methods on the Exception itself.

In http://php.net/manual/de/exception.gettrace.php this was also stated in an 5 years old com

[2017-08-21 15:49] gr8bit commented on #254
+1 for examples for correct Zend Framework integration! :)

[2017-08-25 09:48] jeliasson commented on #191
I have tested this from both my local internet connection, and the production version running in Microsoft Azure. I this that rules out poor connectivity- From what I've seen, the data is not reaching Rollbar at all.
Toughts on how to investigate further in this? Thanks!

[2017-08-25 23:35] matthistuff commented on #251
Not sure what is mentioned in the clubhouse story but I am intrigued to know what is special about supporting WordPress. We have been using a custom WP plugin using rollbar-php and rollbar.js for quite some time now. Settings up WordPress specifics is actually not much work, around 100 lines in total.

[2017-08-29 18:26] nandgate7400 commented on #209
I'd like to chime in that I'm also experiencing massive performance issues.  I updated to the latest version (1.3.1) and my server load goes up by a factor of 20 or more.  It is unusable in a production environment.

[2017-08-29 18:30] nandgate7400 opened #256 "Version 1.3.1 continues to have massive performance issues."
I made a comment before I realized the previous issue was marked as closed.  I tried using version 1.3.1 of the library, however my server load goes up by a factor of 20 or more if I just include the init method.  At this point the library is no longer usable in a production environment.  I'm happy to provide any other details if it will help track down the performance issues.

[2017-08-29 18:31] coryvirok commented on #256
Thanks @nandgate7400, we will get right on this.

[2017-08-29 19:09] Lidbetter commented on #256
Related issue:
https://github.com/rollbar/rollbar-php/issues/209

I have profiled our application with blackfire on 0.18.2 and 1.3.1

On 1.3.1 the error handler callback (`set_error_handler('Rollbar\Rollbar::errorHandler');`) is called ~160 times accounting for ~1 second of CPU time

On 0.18.2 the error handler callback (`set_error_handler('Rollbar::report_php_error');`) is not called

The php.ini

[2017-08-29 19:11] rokob commented on #256
Well that's something, let me see if I can figure that out.

[2017-08-29 19:25] Lidbetter commented on #256
I am fairly new to benchmarking with blackfire, I am not 100% sure that it list all calls or just those which have significant impact; if the latter 0.18.2 has no significant impact

[2017-08-29 19:38] rokob commented on #256
`set_error_handler` should only ever get called upon the first call to `init`. What is the denominator of that 160 times, i.e. is this a trace with 160 requests or something and `init` gets called once per request?

[2017-08-29 19:56] Lidbetter commented on #256
Sorry I meant the callback method name passed into `set_error_handler` is called ~160 times on 1.3.1 vs 0 on 0.18.2 (or as I said it maybe that it has no significantly measurable performance impact)

[2017-08-29 19:58] Lidbetter commented on #256
The exact number is probably irrelevant, our error reporting level was the same when testing each version

[2017-08-29 23:27] Lidbetter commented on #256
Here is a benchmark of the two libraries, specifically how they handle undefined indexes.

https://github.com/Lidbetter/rollbar-benchmark

A simple fix maybe to use the current error level as the second arg when setting up the error handler (or have it definable in the config)

[2017-08-31 10:31] ArturMoczulski commented on #254
This is ready for review in PR https://github.com/rollbar/rollbar-php/pull/257

Also, turns out that function name information is acting funky makes for a very confusing stack trace. This will be addressed in a separate PR.

[2017-08-31 22:07] rokob commented on #254
Merged, will be included in next release

[2017-08-31 22:07] #254 closed

[2017-08-31 22:20] rokob commented on #256
I just merged #258 into master with some clear performance gains by not doing work that we are going to end up throwing away due to a level setting. These are my results from your benchmark:

[code]

So the first two are better, but we still have 2x worse perf for a real exception being reported.

[2017-09-01 01:29] Lidbetter commented on #256
Progress!

I know our legacy app emits notices (lots 😞 ); these changes should allow us to deploy on a small number of our servers (probably sometime next week) and measure the real world impact of exception reporting.

Thanks.

[2017-09-01 05:07] ArturMoczulski opened #259 "Remove shiftFunction for exception stack traces"
The `shiftFunction` configuration is causing stack traces for exceptions to inject inaccurate `function` data.

[code]

The last frame (#9) shows `$method` as `<main>` despite the actual method name called being available (overrides it).

Frame #8 shows `Rollbar\DataBuilderTest::testFramesOrder` as `$method` which doesn't match the method actually called in `/home/ubuntu/workspace/vendor/phpunit/p

[2017-09-04 09:02] ArturMoczulski commented on #259
This is addressed in PR https://github.com/rollbar/rollbar-php/pull/261

[2017-09-06 20:43] #259 closed

[2017-09-14 16:14] paullaffitte opened #265 "invalid or missing instance"
I'm upgrading a project from 0.18.2 to 1.3.1 and it's working a few times until Rollbar::log start to return an error "invalid or missing instance", with a 400 staus. Then, it continue to return the same error and doesn't log nothing.
I saw a similar issue (#237), but it doesn't help me to solve this.

If it can be useful, here is a var_dump of my $_SESSION just before I try to log
[code]
Edit:
I

[2017-09-15 17:03] rokob commented on #265
That error implies that whatever payload we send is missing the `data` key. So there must be a bug in how we are building the payload or doing scrubbing. Let me try to look into this a little further.

[2017-09-15 17:31] rokob commented on #265
Okay what I think is happening is that either during the building of data or during scrubbing (probably during scrubbing), the data value is getting set to null for some reason. We then subsequently don't include it in the final payload because of the way `serializeForRollbar` works. I'm trying to figure out how data could end up null.

[2017-09-17 01:39] ArturMoczulski commented on #248
This is ready for review in PR https://github.com/rollbar/rollbar-php/pull/266

Note: POST fields are only going to be included if Rollbar is configured with `include_raw_request_body`

[2017-09-17 02:07] ArturMoczulski commented on #251
I found three community plugins:
https://github.com/digitalmedia/rollbar
https://github.com/flowdee/rollbar
https://wordpress.org/plugins/rollbar-logging/

All of them seem to be outdated and the latest supported version of Rollbar is v0.18.2

Out of those it seems to me that https://github.com/flowdee/rollbar is the best so I will use it to fork a new repo, fix up whatever is glitching and update

[2017-09-18 10:17] paullaffitte commented on #191
I have a similar issue. The log function return me this object :
[code]
I have one application with two distincts environments (front-office and back-office). It happens only on the back-office.

[2017-09-19 00:11] ArturMoczulski commented on #191
@paullaffitte The `Ignored` response is only returned in three cases:
1. There is a `checkIgnore` configuration set.
2. The log message is set to level that is below Rollbar's configured `minimumLevel`.
3. There is a filter applied and it's `shouldSend` method returns true-y value.

Can you check all of those three and make sure this doesn't happen in the case of your back-office?

[2017-09-19 01:08] ArturMoczulski commented on #251
I forked https://github.com/rollbar/rollbar-php-wordpress
Further issues regarding getting the Wordpress plugin up to speed will be continued as part of that project.

[2017-09-19 01:08] #251 closed

[2017-09-28 15:18] scottconnerly opened #269 "src/Defaults.php detected as a virus"
Avast is classifying it as "PHP:Agent-BP [Trj]".  My guess is because of the exec() calls, but I don't really know.

[2017-09-28 17:23] jessewgibbs commented on #269
Hey Scott,

Thanks for the info.  Is the misidentification of this file as a virus causing rollbar-php to not work properly?  I'm not familiar w/ how Avast handles PHP files it believes contain a virus...

[2017-09-28 17:27] scottconnerly commented on #269
Yes, it moves the file to a quarantine area.

[2017-09-28 17:44] jessewgibbs commented on #269
Is it possible to whitelist this file in Avast so that it doesn't get quarantined?  It may take us a while to investigate this, and I want to get your rollbar-php up and running again as fast as possible...

[2017-09-28 17:52] scottconnerly commented on #269
Yes, we're able to function.

[2017-09-28 18:19] jessewgibbs commented on #269
Unfortunately I can't find any information on what Avast scans for in PHP files so we'd need to install Avast and run it in order to identify whether any changes we make would work.

[2017-09-30 02:02] ArturMoczulski opened #270 "Research OxCom/symfony3-rollbar-bundle as candidate for the official symfony 3 support repo"
There is a need to provide quality support for Symfony3. Below repo looks like a good start but needs a lot of love.

https://github.com/OxCom/symfony3-rollbar-bundle

[2017-10-03 06:58] ArturMoczulski commented on #269
The process of whitelisting applications is explained in detail here:
https://www.avast.com/faq.php?article=AVKB228
https://www.avast.com/faq.php?article=AVKB229

I reached out to Avast Threat Lab to get `src/Defaults.php` whitelisted. I will update as they come back to me.

[2017-10-03 07:53] ArturMoczulski commented on #269
Avast Threat Lab has added `src/Defaults.php` to the whitelist almost immediately. Can you please check if you're still running into issues with this?

[2017-10-03 08:03] #248 closed

[2017-10-03 21:11] scottconnerly commented on #269
Since I told my installation of Avast the file was OK, I don't see a way to un-do that. It'd have to be somebody else who tests it.

[2017-10-04 18:42] ArturMoczulski commented on #269
Ok. I'm assuming this is fixed then.

[2017-10-04 18:42] #269 closed

[2017-10-12 18:09] ArturMoczulski opened #271 "Add Wordpress plugin to Related projects section in README.md"

[2017-10-12 18:26] ArturMoczulski commented on #191
@jeliasson @paullaffitte
Can you please try to upgrade to the latest `rollbar-php` and try to reproduce?

[2017-10-17 20:19] and-megan opened #273 "Bring back/add transform function like rollbar.js"
gives the ability to edit the payload before being sent to Rollbar

[2017-10-17 20:46] #273 closed

[2017-10-17 20:47] and-megan commented on #273
actually exists, just not documented

[2017-10-26 22:22] monteiro opened #275 "Log->error($e) has different info than throw the exception and let error_reporting handle it"
I'm currently using monolog and new relic handler:

[code]

When I try to log the exception using:

[code]

The exception trace doesn't have any colors and it is different than letting rollbar **error_reporting** to handle the exceptions (without catching the exception).

If I throw the exception without catching it, the result is a more complete exception trace w/ colors.

It looks like when erro

[2017-10-27 16:42] elazar opened #277 "fluent/logger"
Why is `fluent/logger` both a [required](https://github.com/rollbar/rollbar-php/blob/ba5b945b90777f5acc1231898b6d7d18bc0d2d5d/composer.json#L36) and [suggested](https://github.com/rollbar/rollbar-php/blob/ba5b945b90777f5acc1231898b6d7d18bc0d2d5d/composer.json#L51) dependency? It doesn't look like it should be required. It was added as a required dependency in the `rollbar/rollbar` [1.2 release](ht

[2017-10-27 17:24] DrewSpace commented on #277
I am also having issues due to this problem :(

[2017-10-27 17:36] rokob commented on #277
Aha yes it should not be required, it was moved to only suggested, but in a bad revert made it's way back in to required. I'll fix this.

[2017-10-27 17:38] #277 closed

[2017-10-27 17:39] elazar commented on #277
@rokob Can we expect a 1.3.3 release shortly?

[2017-10-27 17:44] elazar commented on #277
@rokob [There it is](https://github.com/rollbar/rollbar-php/releases/tag/v1.3.3). Thank you for the quick turn-around! ❤️

[2017-10-27 17:46] rokob commented on #277
👍

[2017-10-27 17:50] carlosalmonter opened #279 "Composer install failing because of fluent/logger not found"
Im currently trying to make a build of my app, but the composer install is failing because of the fluent/logger package not being found which is being required by rollbar/rollbar package.

[code]

[2017-10-27 17:51] rokob commented on #279
See #278

[2017-10-27 17:51] #279 closed

[2017-10-27 17:51] rokob commented on #279
Issue #277

[2017-10-27 20:26] brycethornton commented on #277
Is there any reason to leave it in the suggested list? The repo doesn't seem to exist anymore.

[2017-10-27 20:49] rokob commented on #277
That is weird, I don't know what happened to it. Let us figure out if it is a thing anymore, and if not then we can remove all of the fluent code too.

[2017-10-27 20:51] rokob opened #280 "Maybe remove all fluent/logger code"
The fluent/logger php github repo (https://github.com/fluent/fluent-logger-php) no longer exists. If it is not a thing anymore, then we should remove that code and remove fluent from the suggested section of composer.json

[2017-10-30 18:03] ArturMoczulski commented on #280
Just checked. Seems fine

[2017-11-01 05:05] #271 closed

[2017-11-01 05:39] ArturMoczulski commented on #275
Hey @monteiro

This is a result of using `PsrHandler` instead of `RollbarHandler`. Unfortunately, it is the best thing you can do as of right because `RollbarHandler` is heavily outdated and doesn't work with our latest releases.

I submitted a PR to Monolog repo long time ago with code changes to update `RollbarHandler`, but they still have not processed my PR. In meantime, I suggest you look int

[2017-11-01 05:40] ArturMoczulski commented on #275
Long story short this is the same issue as https://github.com/rollbar/rollbar-php/issues/249

[2017-11-01 05:40] #275 closed

[2017-11-02 02:42] #280 closed

[2017-11-02 09:44] mente commented on #275
Context `exception` is part of PSR-3 so why not add support of it directly into `RollbarLogger` rather than waiting for others to update their library?

[2017-11-02 12:23] monteiro commented on #275
Thanks @ArturMoczulski for the effort.

[2017-11-02 22:01] ArturMoczulski commented on #249
When this is finally merged into the Monolog package, remove `Note` sections from `rollbar/rollbar-php` and `rollbar/rollbar-php-examples` READMEs.

[2017-11-02 22:04] ArturMoczulski opened #282 "Remove Monolog note from README.md when PR 1042 is merged"
When https://github.com/Seldaek/monolog/pull/1042 is finally merged into the Monolog package, remove Monolog's `Note` sections from `rollbar/rollbar-php` and `rollbar/rollbar-php-examples` READMEs.

[2017-11-03 15:44] paulrrogers opened #283 ""Allowed memory size of ... bytes exhausted""
Apparently some of my exceptions have a deep trace or otherwise are overflowing memory. Any chance Rollbar's error unwinding could be made less memory intense?

[2017-11-03 21:13] ArturMoczulski commented on #283
@paulrrogers thanks for bringing this up. Can you explain more how your error reporting is too verbal? I would love to see so some examples of error reports that are just too memory intensive. Especially the ones that are causing the memory exhaustion.

[2017-11-03 22:21] ArturMoczulski opened #284 "Resolve composer installation problem with low deps"
`composer update --prefer-dist --prefer-lowest --prefer-stable` results in
[code]

This is causing https://travis-ci.org/Seldaek/monolog/jobs/296984544 build to fail. Probably the same issues would happen in any other project when running `--prefer-dist --prefer-lowest --prefer-stable` options.

[2017-11-04 00:39] ArturMoczulski opened #285 "Dynamically Add global Context"
This is a request originating from https://github.com/rollbar/rollbar-php-laravel, but it applies to https://github.com/rollbar/rollbar-php itself.

The original issue is here https://github.com/rollbar/rollbar-php-laravel/issues/28.

[2017-11-06 02:04] ArturMoczulski commented on #285
Closing. This is actually supported with `custom` configuration option.

[2017-11-06 22:06] ArturMoczulski commented on #285
This is now ready for review here https://github.com/rollbar/rollbar-php/pull/286

[2017-11-08 08:21] ArturMoczulski commented on #284
The SDK installed with `--prefer-dist --prefer-lowest --prefer-stable` depends on `Seldaek/monolog:1.0.0` which breaks the `Rollbar\ReadMeTest::testMonolog`. We need to fix this first and then check if Rollbar PHP is able to run on `psr/log:1.0.1` which is the preferred version by the Monolog library when also installed with `composer update --prefer-dist --prefer-lowest --prefer-stable`.

1. We n

[2017-11-08 13:40] tbopec commented on #269
Hello, @ArturMoczulski

I just downloaded and installed the latest version of Avast.
It still blocks src/Defaults.php and put in into chest.

So, it's not fixed. Do you know, when Avast should release new whitelisting? Or how should it be resolved?

Do you have an idea, which part of code is responsible for the virus detection?

Best regards,
Pavel

[2017-11-09 19:00] jessewgibbs opened #287 "utf8 strings from php not being handled correctly"
See https://app.clubhouse.io/rollbar/story/21969/utf8-strings-from-php-not-being-handled-correctly and https://app.intercom.io/a/apps/rlisg82q/respond/inbox/conversation/9585083093 for details.

[2017-11-10 10:41] #285 closed

[2017-11-11 06:38] ArturMoczulski commented on #284
This is fixed in tag `1.3.4`

[2017-11-11 06:38] #284 closed

[2017-11-13 06:41] ArturMoczulski opened #289 "Context argument data is not being sent with exceptions"
This was first brought up as a problem in the Rollbar Laravel package. `$context` data of the `log` method got lost in the payload when logging exceptions.

https://github.com/rollbar/rollbar-php-laravel/issues/23

[2017-11-13 06:55] #289 closed

[2017-11-13 10:22] tbopec opened #290 ""src/Defaults.php detected as a virus" is still not fixed"
Hello,

As a follow up issue for [https://github.com/rollbar/rollbar-php/issues/269](issue-269).

The latest version of Avast with fresh virus signatures still detects src/Defaults.php as a virus.

Replacing of usage of exec function to shell_exec fixes this issue:

[code]

Please have a look here

Best wishes,
Pavel

[2017-11-14 08:12] ArturMoczulski commented on #290
This is ready for review here: https://github.com/rollbar/rollbar-php/pull/291

[2017-11-15 05:47] #290 closed

[2017-11-17 04:47] ArturMoczulski commented on #283
I'm closing this issue for now. @paulrrogers if you want us to investigate further we need your help diagnosing this

[2017-11-17 19:29] rokob opened #292 "Confusing stack traces due to missing filename/lineno"
Consider this code:

[code]

This results in two items when run from the command line for Rollbar v1.3.5

[code]

[code]

So the first one is the complete stack trace and comes from the errorHandler that is set. The other stack comes from the fatalHandler that seems to run after the errorHandler.

Problems:

* If we only get the fatal error then the stack trace is missing all of the important code

[2017-11-28 21:36] ftrrtf opened #293 "Error duplication for non generic exceptions"
@ArturMoczulski hi, I guess condition (from MR https://github.com/rollbar/rollbar-php/pull/240)
`strpos($last_error['message'], 'Uncaught exception') === 0` should be replaced by `strpos($last_error['message'], 'Uncaught') === 0` (allowed types of exception is checked on the line above).

Because for now only generic exceptions will be skipped by the condition on fatal handler, and `MyException` w

[2017-11-29 10:51] tbopec opened #294 "Missing tag on last master"
Hello, @ArturMoczulski !

You fixed the issue github-290, but this improvement is still not released with tag/version.

When is it planned to have a release v1.3.6?

Best wishes,
Pavel

[2017-12-01 18:58] otang commented on #292
I'm also having an issue where the stacktrace is not helpful.
![image](https://user-images.githubusercontent.com/800081/33498523-866bad92-d686-11e7-905c-1ea4e028d665.png)

Is it possible to see the line number where the error was triggered?

[2017-12-02 10:33] ArturMoczulski commented on #293
This is resolved in PR https://github.com/rollbar/rollbar-php/pull/295

[2017-12-02 10:33] #293 closed

[2017-12-02 10:45] ArturMoczulski commented on #294
Hey @tbopec

This is now available in tag v1.3.6:
https://github.com/rollbar/rollbar-php/tree/v1.3.6

Let me know if you have any questions

[2017-12-02 10:45] #294 closed

[2017-12-04 08:58] ArturMoczulski opened #296 "Add return statements to shortcut methods like ::error() and ::warning() in Rollbar class"
The shortcut methods should return the same as the ::log() method. Currently they don't return anything.

[2017-12-04 20:41] and-megan opened #297 "Add config option to enable/disable"
Can we add a configuration option to easily turn on and off the integration? The idea is to be able to disable Rollbar without having to change or comment out code. Similar to rollbar.js's:
https://github.com/rollbar/rollbar.js#disable-reporting-to-rollbarcom

[2017-12-05 12:51] nicogranelli commented on #297
+1

[2017-12-05 13:52] #191 closed

[2017-12-05 13:54] rivkahstandig3636 commented on #256
@rokob @ArturMoczulski Is there anything further that needs to be done in terms of making this more performant, or can this be closed?

[2017-12-08 06:25] ArturMoczulski commented on #256
I think we can close this issue for now. I will open another one later for a general performance overview. We could spend some more time analyzing performance of the SDK in the future. I will open a new issue when I get to this.

[2017-12-08 06:25] #256 closed

[2017-12-10 02:00] ArturMoczulski opened #299 "composer test results in at least 1 skipped test"
Running `composer test` results with:

[code]

There is 1 skipped test in there. The skipped test should be either fixed or removed.

[2017-12-10 02:23] #296 closed

[2017-12-10 05:37] ArturMoczulski commented on #297
This is ready for review in PR https://github.com/rollbar/rollbar-php/pull/300

[2017-12-11 00:51] ArturMoczulski commented on #292
@rokob in the example you provided there is actually an additional bug. The error is logged to Rollbar twice (through `Rollbar::errorHandler` and `Rollbar::fatalHandler`). This is caused by the list of fatal errors in https://github.com/rollbar/rollbar-php/blob/4637e6f3ee1218f902a39b4d942c596b3188e769/src/Rollbar.php#L12 being incorrect. `E_USER_ERROR` is not considered a fatal error in PHP. I res

[2017-12-11 09:25] ArturMoczulski commented on #292
I added this to address this issue https://github.com/rollbar/rollbar-php/issues/254

Fatal errors look like an edge-case scenario that I didn't consider before. My guess is that in case of fatal errors we should not be fetching file path and line number from the exception object.

[2017-12-11 23:05] and-megan opened #301 "composer install instructions refer to older version (v1.1)"
Hey @ArturMoczulski do you want to update it? Maybe we could set this to dynamically update when new versions are released.

[2017-12-13 09:51] ArturMoczulski commented on #301
Thanks for bringing this up @and-megan . I updated the instructions to use `^1` version constraint which is the latest non-breaking.

[2017-12-13 09:51] #301 closed

[2017-12-15 16:05] paullaffitte commented on #265
I upgraded to the latest version today again (1.3.6), I keep have the same issue. Did you find something about it ? Do you need anything that could help you figuring out where the bug comes from ?

Thank you

[2017-12-18 12:54] ArturMoczulski commented on #265
@paullaffitte Do you think you can do some debugging in your Rollbar package? I suggest adding `var_dump` or your other preferred debugging tool in `\Rollbar\RollbarLogger::log` method on line 69 of file `src/RollbarLogger.php` to inspect all of the subsequent paylods:

[code]

Thanks to this we should be able to see what and when starts disappearing from your payload.

[2017-12-27 14:14] rivkahstandig3636 commented on #246
@rokob Is this a docs issue or is a code change needed?

[2017-12-27 14:21] rivkahstandig3636 commented on #270
Closing this issue as there has already been work on this issue in another repo https://github.com/rollbar/rollbar-php-symfony3-bundle

[2017-12-27 14:21] #270 closed

[2017-12-30 02:03] #297 closed

[2017-12-30 02:15] ArturMoczulski commented on #299
This was just the fluent test which is a suggested package, that's why the test was skipping. It works at expected.

[2017-12-30 02:15] #299 closed

[2017-12-31 08:43] ArturMoczulski commented on #292
Here is a PR https://github.com/rollbar/rollbar-php/pull/302 that resolves all of the problems covered by this issue.

[2018-01-02 16:58] pfazzino opened #303 "Previous error handlers not being preserved/invoked"
See Rollbar::setupErrorHandling which is not storing a reference to any previously registered handler. See Rollbar::setupExceptionHandling where this is handled correctly

[2018-01-05 01:27] ArturMoczulski commented on #303
This is currently being addressed in https://github.com/rollbar/rollbar-php/pull/304

[2018-01-11 15:48] vilius-g opened #305 "Fatal errors missing origin file and line"
When reporting fatal errors using rollbar-php, their origin is lost, like this:

[code]

There is no information in the report about the original file and line that caused the error. These are the most important details in cases like this and not including them makes the reporting essentially useless for debugging.

[2018-01-11 15:51] rivkahstandig3636 commented on #305
Thanks for letting us know! We'll look into it.

[2018-01-14 08:30] ArturMoczulski opened #307 "Turn local_var_dumps on by default"
The config option `local_var_dumps` is currently `false` by default. Research if there are any side effects of turning it on and if we can keep it at `true` as default.

[2018-01-14 08:34] ArturMoczulski commented on #305
This is resolved in the latest master and will be included in the new `1.4.0` tag.

[2018-01-14 08:34] #305 closed

[2018-01-24 19:54] ArturMoczulski opened #308 "Code examples in the docs still use the 0.18.2 version which is deprecated."
See here: https://rollbar.com/docs/grouping-algorithm/

`Rollbar::report_exception` has been deprecated for a while now. The doc examples should be updated to follow the `1.*` standards.

[2018-01-24 19:55] rivkahstandig3636 commented on #308
Thanks @ArturMoczulski, I'll work on this tomorrow.

[2018-01-29 21:14] ajtran opened #309 "Not Working with New Relic agent"
[USER]:

Trying to set up Rollbar PHP client and New Relic agent.

New Relic agent stops tracking application performance, but works again when Rollbar PHP is removed.

internal: https://app.intercom.io/a/apps/rlisg82q/respond/inbox/488687/conversations/14332615800

[2018-01-31 04:33] #292 closed

[2018-01-31 04:34] #303 closed

[2018-01-31 23:00] #307 closed

[2018-02-01 03:32] ytn3rd commented on #207
This issue seems to have popped up again. Custom data is not included when logging.

[code]

Error is logged, but in no where in the request does it log any of these other parameters.

[2018-02-01 22:17] afa17 opened #311 "An exception does not show in the dashboard for PHP app"
Hi Rollbar team,
I have a problem of receiving/ showing my messages on the Dashboard .
I am using my localhost for Moodle3.3 PHP application on XAMPP bundle.

The Rollbar was activated with the following activation code:

`$config = array(
    'access_token' => 'ACCESS_TOKEN',
    'environment' => 'development'
);
Rollbar::init($config);`

And I have thrown an error as follows:

`
Rollbar::log(Lev

[2018-02-02 04:01] ArturMoczulski opened #312 "Add a config option to make the SDK verbose"
We are having a lot of new issues coming in from users. Often it would be much easier to address them if we have more details on what exactly the library is doing. A config option to increase verbosity and show exact responses from the API would make resolving such issues much easier.

[2018-02-02 04:20] ArturMoczulski commented on #309
I set up a project with New Relic and Rollbar but I wasn't able to reproduce the problem. I need more details on what exactly is happening.

I'm working on making the SDK more verbose right now here: https://github.com/rollbar/rollbar-php/issues/312

Once I add more debugging info, let's try to find out what exactly is happening.

[2018-02-02 04:22] LawnGnome commented on #309
I attacked this today too from the New Relic side, and I haven't been able to reproduce the issue either. I'll let you know if I find anything!

[2018-02-02 10:56] theUniC commented on #309
Hi! I was the one that reported it some days ago. If helps I can attach our new-relic / php config.

[2018-02-04 21:59] afa17 commented on #311
any updates on this issue guys?

[2018-02-06 04:26] #312 closed

[2018-02-06 04:39] ArturMoczulski commented on #309
@theUniC that would be awesome. Also, I just merged into `master`  a new configuration option that will let you get more details on what's happening inside the SDK. So,

1. Switch to using `rollbar/rollbar-php:master` instead of the last tag `v1.3.6`.
2. Configure your Rollbar with
[code]
3. Post the contents of your `/tmp/rollbar.debug.log`.

You can find more about the `verbosity` config option

[2018-02-06 05:58] ArturMoczulski commented on #311
@afa17 thanks for reporting. I'm looking into this right now. In meantime, it would be awesome if you provide some more information.

I just added internal debugging information logging to the `master` branch. Do you think you can do the following:
1. Switch to using `rollbar/rollbar-php:master` instead of the latest tag `v1.3.6`.
2. Set up your `Rollbar` configuration to use
[code]
3. Trigger `Ro

[2018-02-07 00:51] afa17 commented on #311
Hi Arthur,

Thanks for your reply.
I have cloned the tag v.1.4.0 & run steps 2 and 3.
Though I could not find rollbar.debug.log file.

Am I doing these steps correctly?
Thanks!
Best regards,
Muzaffar

use \Rollbar\Rollbar;
use \Rollbar\Payload\Level;

$config = array(
    'access_token' => '197baa6606164cd38b76792236762bd2',
    'environment' => 'development',
    'verbosity' => \Psr\Log\LogLevel:

[2018-02-07 08:57] ArturMoczulski commented on #207
Interesting. Can you configure your `Rollbar` class with `verbosity` at `\Psr\Log\LogLevel::DEBUG` and post your `/tmp/rollbar.debug.log` (please, scrub your access token)?

[2018-02-07 21:34] ytn3rd commented on #207
TLDR: Everything magically seems to work now...

So I enabled verbosity, and debugged with this,
[code]
Everything came through (although I never got my log output anywhere). I signed into our system so our session data was also logged, everything came through as expected.

It did log the my data stuff as message.my, custom.my, message.data and custom.data. So it was duplicated in there.

I tried

[2018-02-07 22:42] #308 closed

[2018-02-12 03:27] afa17 commented on #311
Any updates Artur ?

[2018-02-12 10:28] ArturMoczulski commented on #311
@afa17 Can you verify that your `sys_get_temp_dir` resolves to `/tmp`? And if so, what are your permissions on that directory?

We need to get access to those debug logs.

[2018-02-14 14:54] gelige opened #315 "ReadmeTest class doesn't pass the tests"
Hi!

Noticed #314 pull request fail and tested it locally.

`ReadmeTest::testBasicUsage()` and `ReadmeTest::testBasicUsage2()` methods' assertions pass fine when `ReadmeTest.php` runs alone, but fail when all tests run together.

It seems so that previous tests set `Rollup` static attributes that interfere with later usage.

[2018-02-15 05:54] afa17 commented on #311
@ArturMoczulski  Thanks for follow-up. I have checked that I can access the temp dir (\AppData\Local\Temp\rollbar.debug.log - my OS is windows 7) and I have all permissions. However,  the log file was not generated in that folder.

But I found the following error that can help us:
**Exception - logging with Rollbar failed. DEBUG Response = Status: 0 Body: "Ignored" URL:**

When I run the following

[2018-02-15 16:46] zimmermanj42 opened #316 "Problem with error suppression in method calls"
I work in a Symfony 2.8 project, and have just upgraded to v1.4 of the Rollbar library.

After the upgrade, we had our Symfony post Composer install command start to fail when deploying bundle assets.  For those unfamiliar, basically after a Composer install, Symfony runs a command that symlinks assets found in the project to a common web folder location.

This process started to fail, and I think

[2018-02-16 03:39] afa17 commented on #311
When I dump the $response variable, I got the following:
if (!$response->wasSuccessful()) {
    var_dump($response);
}

TEMP dir = C:\Users\Username~1\AppData\Local\Temp

object(Rollbar\Response)#66 (3) {
	["status":"Rollbar\Response":private]=> int(0)
	["info":"Rollbar\Response":private]=> string(7) "Ignored"
	["uuid":"Rollbar\Response":private]=> NULL
}

[2018-02-19 22:39] passcod opened #318 "Truncation is json_encoding the entire payload repeatedly"
Found while hunting the bug fixed in #317.

This library, while trying to format the payload for sending, `json_encode`s the entire payload repeatedly. For small inputs, that may seem okay. When the structure is massive, it can eat lots of memory, take lots of time, and eventually crash PHP by trying to allocate more memory than it can.

Here is [Truncation.php](https://github.com/rollbar/rollbar-

[2018-02-20 00:34] afa17 commented on #311
any updates Artur?

[2018-02-20 03:23] ArturMoczulski commented on #311
@afa17 Thanks for your patience. Can you also post a dump of your request (after scraping sensitive info)?

[2018-02-20 04:09] afa17 commented on #311
@ArturMoczulski  I have attached the har file of the request to my localhost. If you need, tese are the header properties:
GET / HTTP/1.1
Host: localhost
Connection: keep-alive
Cache-Control: max-age=0
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.167 Safari/537.36
Accept: text/html,application/xhtml+xml,ap

[2018-02-20 04:12] ArturMoczulski commented on #311
Sorry @afa17 . I don't see it attached anywhere. I need the body of the request.

[2018-02-20 04:29] ArturMoczulski commented on #311
@afa17 The file you attached doesn't seem to be a valid Rollbar API request. Are you sure this the content Rollbar SDK is sending? I suggest `var_dump` after this line https://github.com/rollbar/rollbar-php/blob/master/src/RollbarLogger.php#L105

like so
[code]

[2018-02-20 04:46] afa17 commented on #311
@ArturMoczulski  THANKS! As I debugged it caught up at line 87 at RollbarLogger.php:
 if (!$this->levelFactory->isValidLevel($level)) {
            throw new \Psr\Log\InvalidArgumentException("Invalid log level '$level'.");
        }

[2018-02-22 23:56] ajtran opened #319 "Error: Cannot access private property Rollbar\Rollbar::$logger"
internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/14730430660

User upgraded to the rollbar-php v1.4.0, but this error is still occurring. Here is the composer.lock for reference:

[code]

[2018-02-26 03:46] ArturMoczulski commented on #318
@passcod great insights. I will be working on this soon.

[2018-02-26 03:50] ArturMoczulski commented on #316
@zimmermanj42 thanks for submitting the issue. I will investigate soon.

[2018-02-26 03:52] ArturMoczulski commented on #315
@gelige I removed the assertions, for now, to let the builds pass. I will resolve the failing assertions in the next tag.

[2018-02-26 17:23] niektenhoopen opened #320 "Post to https://api.rollbar.com/api/1/item/item/ correct?"
My Rollbar error logging stopped working and by looking at the code I (might have) figured out what the problem might be. I debugged the curl request and found out that it posts to https://api.rollbar.com/api/1/item/item/  ("item" twice)

It looks weird to me because your docs have the word "item" only once.

Is this correct and still functional behaviour? Your example code from the readme does no

[2018-02-26 18:04] rokob commented on #320
This is strange because the code would seem to have existed for many months that would lead to that and it is wrong.

[2018-02-26 18:09] niektenhoopen commented on #320
@rokob I know. I suspect that the API accepted the payload at /item/item as well but maybe changed the routing? /item/([0-9]}) is for viewing an item (if I remember it correctly) and it looks like this might have changed to /item/(.*} ? (I am just trying to guess what could have caused the issue the occur after a long day of work)

[2018-02-26 18:20] rokob commented on #320
Those code snippets are a red herring, the CurlSender `endpoint` variable does not get the `item/` appended to it. We only use that `endpoint` variable if one is not set in the configuration. Are you setting endpoint in your configuration?

[2018-02-26 18:28] niektenhoopen commented on #320
Hmm. I was checking it as well. Seems like the https://github.com/baibaratsky/yii2-rollbar sets it:
[code]

The baseApiUrl should not contain `item/`, right?

I am still wondering why this issue started to play up now, but it looks like it is not a Rollbar interruption.

[2018-02-26 18:30] rokob commented on #320
Ah yes it should not contain `item/`. I agree it is weird that is just cropping up now, it could be what you are saying about the backend accepting that before and that changing recently.

[2018-02-26 18:31] rokob commented on #320
https://github.com/baibaratsky/yii2-rollbar/commit/1561d6490a06ba27818ce6eef54bacf3d6abfc8f#diff-e6b436425177a2b2c600da9dd3760ef5 is where it got added so it could be due to an upgrade in versions.

[2018-02-26 18:34] rokob commented on #320
I made https://github.com/baibaratsky/yii2-rollbar/pull/14 to fix it in that library

[2018-02-26 18:35] niektenhoopen commented on #320
This issue does not need a solution (for me) anymore, but I am not sure if there are more people using item/item/ to post to.

I only figured it out after I realised that I had no errors logged for the past 14 days and usually it logs about 1 error per week. The annoying thing is that if you are relying on Rollbar for error logging, and it is not working, people will probably incorrectly assume th

[2018-02-26 18:48] niektenhoopen commented on #320
Feel free to close this one. I am not sure if you want to look into backend routing so I will just leave it up to you to close this one 😄 Thanks for the very quick response guys! (and teaching me about the "red herring", never heard that expression before 😄 )

[2018-02-26 19:19] #320 closed

[2018-02-26 21:15] ajtran opened #321 "Wordpress Plugin PHP Errors not being sent."
I have a user who receives these two errors:

`#38 E_NOTICE: unserialize():: unserialize(): Error at offset 5 of 34 bytes`
`#37 E_NOTICE: Undefined index:: Undefined index: seq_ques`

from the wordpress rollbar plugin, but is unable to send any other PHP errors to Rollbar. Test messages and Javascript errors are sent through though.

config:

*status:* [x] PHP error logging [x] Javascript error lo

[2018-02-28 16:04] rivkahstandig3636 commented on #265
@paullaffitte Is this still an issue for you?

[2018-02-28 16:08] rivkahstandig3636 commented on #321
Moving this over to the wordpress plugin repo as this appears to be an issue with that notifier and not this one.

[2018-02-28 16:10] #321 closed

[2018-02-28 21:41] passcod commented on #318
So, amendment on that, because we found another bug, see #323.

That's false. Upon re-read, we found that if the payload is still too large, then it gets sent anyway. Hooray.

What we also found is that the truncation code assumes the only big parts are going to be the exception message and/or the exception frames. If, say, the massive part is the associated data in e.g. a manual `Rollbar::log` ca

[2018-03-03 01:54] ArturMoczulski commented on #319
I'm not able to reproduce the problem. I will get in touch with the user to resolve the issue.

[2018-03-05 13:06] h0gar commented on #265
Having the same issue. Rollbar returns "invalid or missing instance" with status 400.

In my case, after digging into the rollbar library, I found out the error comes from one of the frame's arguments. Maybe because some arguments are too large. Replacing '"args" => $this->args,' by '"args" => [],' in the file Payload/Frame.php fixes it for me. But then I lose the arguments in the report's trace.

[2018-03-09 23:45] ArturMoczulski commented on #265
@h0gar can you provide us with a dump of arguments that are causing the error? I need to build tests for this

[2018-03-12 01:37] ArturMoczulski commented on #282
It doesn't look that our PR is going to be merged anytime soon. In meantime, I moved the `RollbarHandler` into our repo. See README.md notes for details how to use it.

https://github.com/rollbar/rollbar-php/pull/325

[2018-03-12 03:29] #282 closed

[2018-03-12 03:31] ArturMoczulski commented on #249
It doesn't look like our PR for `Seldaek:monolog` is going to get merged anytime soon. In meantime, I included `Rollbar\Monolog\Handler\RollbarHandler` in our repo. Please, use `rollbar/rollbar-php:master` or wait until tag `v1.4.1`.

[2018-03-12 03:31] #249 closed

[2018-03-12 06:25] ArturMoczulski commented on #315
Fixed in https://github.com/rollbar/rollbar-php/pull/326

[2018-03-12 06:27] #315 closed

[2018-03-13 07:52] ArturMoczulski commented on #318
I just submitted a PR with optimization improvements: https://github.com/rollbar/rollbar-php/pull/327

Let's continue this conversation there.

[2018-03-13 07:52] #318 closed

[2018-03-15 05:37] rivkahstandig3636 opened #328 "Support deploy tracking"

[2018-03-15 05:54] rivkahstandig3636 opened #329 "Truncate large payloads to ensure we don't drop them"

[2018-03-15 10:05] joostvanveen commented on #246
Documentation on how to use Rollbar in Magento 2 would be very welcome.

We find that Rollbar is not catching any errors from magento 2, other than straightforward PHP errors in a phtml template file. All other exceptions, errors, warnings and notices are not logged to Rollbar.

Being able to log Magento errors and exceptions to Rollbar is particularly important to us because Magento 2's own error

[2018-03-15 23:05] ArturMoczulski commented on #309
@theUniC Any more details on this?

[2018-03-15 23:29] ArturMoczulski commented on #319
Got in touch with the customer. Their production systems are working fine. The issue only occurs in the local environment for one of their devs. I'm in touch with him now but the issue here can be closed.

[2018-03-15 23:29] #319 closed

[2018-03-16 04:14] ArturMoczulski commented on #316
@zimmermanj42 I wasn't able to reproduce this issue. Here are the step I took:

1. Set up a new Symfony 2.8 app.
2. Initiated Rollbar in `AppKernel::registerBundles`.
3. Forced `Symfony\Component\Filesystem::remove` to error out by providing a non-existent path to `unlink` calls. I verified the errors are indeed triggered by removing the `@` error suppression:

`vendor/symfony/symfony/src/Symfony/

[2018-03-16 04:31] ArturMoczulski commented on #316
I suggest:
1. Removing / disabling Rollbar temporarily and seeing if you can reproduce the problem. If yes, then it's not a Rollbar related issue.
2. If the problem doesn't persist without Rollbar, I suggest then trying to use the previously used Rollbar tag. If you reproduce, it's also not Rollbar related (since you didn't have these problems in the past).
3. Again, if the problem doesn't persist

[2018-03-16 05:48] ArturMoczulski opened #330 "Rename jsonSerialize methods in all \Rollbar\Payload classes"
`\Rollbar\Payload` classes implementing `jsonSerialize` do not actually serialize the payload data anymore. JSON encoding now happens only in `\Rollbar\Payload\EncodedPayload`. The old `jsonSerialize` methods now just flatten object composites into an associative array.

1. Change the methods names from `jsonSerialize` to something more appropriate.
2. The `JsonSerializable` interface might not ap

[2018-03-16 07:35] ArturMoczulski opened #331 "Remove the leftover direct call to json_encode in AgentSender.php"
https://github.com/rollbar/rollbar-php/blob/master/src/Senders/AgentSender.php#L48

This `json_encode` invocation should be replaced with `$payload->encoded()`.

[2018-03-16 07:36] theUniC commented on #309
@ArturMoczulski It's a New Relic issue. We investigated it alongside them and found out that by completely disabling error tracing on the newrelic-agent things were working out again. I suspect they are doing things internally when `register_shutdown_function` callbacks are invoked, but don't have any more information.

[2018-03-16 07:39] ArturMoczulski commented on #309
I see. I'm going to close the issue here now.

However, you probably still need to fix this situation for yourself - I would love to hear what you guys come up with to have the New Relic agent work with Rollbar PHP SDK.

[2018-03-16 07:39] #309 closed

[2018-03-16 11:08] #265 closed

[2018-03-16 11:09] ArturMoczulski commented on #265
@paullaffitte PR 332 should fix this issue. Can you please check with current `master` or tag `v1.4.1` when it gets released?

[2018-03-16 18:59] ArturMoczulski commented on #287
I wasn't able to reproduce this issue anymore. It might have gotten fixed since then.

[2018-03-16 18:59] #287 closed

[2018-03-17 10:38] ArturMoczulski opened #333 "Build a Magento2 Rollbar Module"
As requested here: https://github.com/rollbar/rollbar-php/issues/246

We should start working on a Magento2 Rollbar Module.

[2018-03-17 10:38] ArturMoczulski commented on #246
Integration with Magento2 will require building a Magento Rollbar module. Magento2 has its' own way of handling exceptions and errors which effectively disables Rollbar's handlers set up through `Rollbar::init`.

I added an issue for starting the work on a Magento Rollbar Module here: https://github.com/rollbar/rollbar-php/issues/333

[2018-03-17 10:38] #246 closed

[2018-03-20 16:48] craigalways opened #334 "SSL certificate problem: unable to get local issuer certificate"
Get this response from logging from an HTTPS page.

`object(Rollbar\Response)#59 (3) {
  ["status":"Rollbar\Response":private]=>
  int(0)
  ["info":"Rollbar\Response":private]=>
  string(63) "SSL certificate problem: unable to get local issuer certificate"
  ["uuid":"Rollbar\Response":private]=>
  string(36) "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx"
}`

[2018-03-20 17:00] craigalways commented on #334
To resolve this issue.

To resolve the error, you need to define your CURL certificate authority information path

To do that,

Download the latest curl recognized certificates here: https://curl.haxx.se/ca/cacert.pem
Save the cacert.pem file in a reachable destination.
Then, in your php.ini file, scroll down to where you find [curl].
You should see the CURLOPT_CAINFO option commented out. Uncomme

[2018-03-22 05:08] ArturMoczulski opened #335 "The transfomer option is not documented in the readme"
Document the `transformer` option in `README.md`

[2018-03-22 10:32] rivkahstandig3636 commented on #335
Let's ensure that all options are documented.

[2018-03-23 18:13] ajtran opened #336 "Update README"
document supported versions and 5.3 dependencies

internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813334/conversations/15330437130

[2018-03-23 23:46] ArturMoczulski opened #337 "Provide a way of listing all the configuration options"
This is needed for https://github.com/rollbar/rollbar-php-wordpress/issues/36

[2018-03-24 01:24] ArturMoczulski opened #338 "Rename checkIgnore config option to followo the underscore convention like other options"

[2018-03-24 02:29] #337 closed

[2018-03-26 23:21] ArturMoczulski opened #340 "Make all configuration defaults available through the Defaults class"

[2018-04-09 14:36] benjamindulau opened #342 "Can't get stack trace with Monolog & Symfony"
I definitely won't get the stack trace when using `Rollbar\Monolog\Handler\RollbarHandler` in my Symfony project.

Everything works like a charm with Rollbar v0.8 but I just can't have my stack trace with v1.4.
As recommended in the doc, I don't try to use the Monolog handler because it's outdated.

Here is my config:

[code]

Any idea?

[2018-04-10 09:13] h0gar opened #343 "413 Payload Too Large"
Hi.

There was an issue with json encoding errors. See: https://github.com/rollbar/rollbar-php/issues/265

It's solved, but now I have another issue with rollbar-php. I have a script doing imports of large files.
When there is an error, rollbar sends the payload which includes the trace and the arguments, and these arguments contain large amont of data from the imported file.

As a result, rollbar

[2018-04-11 07:36] ArturMoczulski opened #344 "Provide a method in \Rollbar\Defaults to fetch default value from a camel case config option name"
This is needed in most of the PHP SDKs that rely on this repo. When implemented, the other sdks should be amended to not duplicate this logic.

[2018-04-11 08:05] ArturMoczulski opened #345 "Bring all of the config options and method names in \Rollbar\Defaults to parity"

[2018-04-11 08:11] ArturMoczulski opened #346 "Refactor \Rollbar\Defaults"
This class has become cumbersome to use with the current pattern. It needs to be refactored so it can be used easily to dynamically build config options for dependent SDKs like Wordpress and Symfony.

[2018-04-16 17:33] adrian-enspired opened #347 "Info in trace_chain is Not Scrubbed"
Rollbar payloads include sensitive information in `body.trace_chain..args` which is not being "scrubbed."  For example, the raw JSON includes:
[code]
Note that fields named "password" are supposedly scrubbed by default.  I've redacted the sensitive info here, but it **is** present in clear text in the issue occurrence.

My understanding from reading rollbar docs was that the "scrub_fields" config

[2018-04-17 08:16] ArturMoczulski opened #348 "The enabled config option is not being respected"

[2018-04-17 08:16] #348 closed

[2018-04-18 14:46] rivkahstandig3636 commented on #347
Thanks for the bug report! We'll take a look into this.

[2018-04-24 17:59] rivkahstandig3636 opened #349 "Telemetry support"
Similar to telemetry in rollbar.js.

This needs to include the config options for enabling/disabling telemetry and scrubbing telemetry data.

[2018-04-24 21:52] chris-miller-jonah opened #350 "PHP Interface, log() method isn't handling fingerprint as documented"
https://docs.rollbar.com/docs/grouping-algorithm Shows that you should be able to pass an array as the third parameter to Rollbar::log(Level::INFO, "Some message", array("fingerprint"=>"my-custom-fingerprint")); and that it will be used for grouping purposes.

However when I pass a fingerprint value like that and then check on Rollbar, I see that the Item occurrences I created have the fingerprint

[2018-04-25 14:11] adrian-enspired commented on #347
Any update on this issue?  Thanks for your time!

[2018-04-25 15:55] rivkahstandig3636 commented on #350
Thanks for pointing this out! We'll take a look.

[2018-04-25 16:15] rivkahstandig3636 commented on #347
Hi @adrian-enspired, unfortunately not yet. We'll update the issue here when there is an update. Sorry for the delay!

[2018-04-25 16:51] rivkahstandig3636 commented on #342
We will take a look into this, sorry for the delay!

[2018-04-25 16:51] rivkahstandig3636 commented on #343
We will take a look into this, sorry for the delay!

[2018-04-25 18:18] rivkahstandig3636 opened #351 "Ability to send additional runtime data"
Similar to the gem: https://docs.rollbar.com/docs/ruby#section-including-additional-runtime-data

[2018-04-25 18:28] rivkahstandig3636 opened #352 "Add capture uncaught config option"
Similar to rollbar.js, the ability to turn on/off uncaught error reporting.

[2018-04-26 19:27] rivkahstandig3636 opened #353 "Only collect person.id by default for person tracking"
Allow the ability to send person.email and person.username, but by default we should only collect person.id going forward.

@ArturMoczulski  This is a top priority.

[2018-04-26 19:28] rivkahstandig3636 opened #354 "Allow IP collection to be easily turned on and off in config"
Keep the default IP collection what it is now, but allow the ability to turn IP collection off in the config.

@ArturMoczulski  This is a top priority.

[2018-04-26 19:29] rivkahstandig3636 opened #355 "Anonymize IP address config option"
We need to allow users the option of collecting IP addresses and anonymizing them. Let's anonymize the IPs as described here: https://support.google.com/analytics/answer/2763052

@ArturMoczulski This is a top priority.

[2018-05-01 13:56] HenonoaH opened #356 "Yii2 Custom Error Handler - Errors should not be displayed in browser"
I need to create a custom error handler by extending rollbar error handler that should always handle fatal errors, but handle notice errors only if we are in debug mode. In production mode, all notice errors should not be displayed in the browser instead it should be logged in rollbar and get notified. Can anyone suggest an idea on how to go with this error handling?

I just started by extending Y

[2018-05-01 23:30] rivkahstandig3636 opened #357 "Point docs from README to Rollbar's site"
Keep the basic getting started info, then link to Rollbar's docs.

[2018-05-04 11:42] abuisine commented on #265
I do confirm that the problem is solved in 1.4.3:
binary values stored in session are now displayed as None on rollbar.com rather than triggering a 400 error code 'invalid or missing instance' on the php side.

[2018-05-04 15:11] adrian-enspired commented on #347
Checking in again.

I understand that there may not be a solution yet, but it would be very helpful to have confirmation of what/if the problem is.

**→ Is "scrub_fields" _meant_ to apply to values to `body.trace_chain`, or no?**

[2018-05-04 16:57] ArturMoczulski commented on #347
@adrian-enspired `scrub_fields` IS meant to be applied to values in `body.trace_chain`. If it doesn't then it's a bug in our code. As soon as I get to resolving this issue, I will try to reproduce your situation and find out where the problem is.

[2018-05-04 17:01] ajtran opened #358 "Document Transform Function"
Add an example of how to use the transform function

[2018-05-07 18:09] RDelorier opened #359 "Undefined index 'access_token' when personFunc throws error"
https://github.com/rollbar/rollbar-php/blob/0fe0b219b1c0f671701383aaf24eb605082c9027/src/DataBuilder.php#L861

Calling Rollbar::scope without an 'access_token' index in the config throws another error.

[2018-05-11 12:05] rkrx opened #360 "Decouple rollbar from monolog"
We use another PSR-3 compatible logger-implementation and rollbar enforces the monolog, which is an unnecessary in our case.

[2018-05-12 03:48] ArturMoczulski opened #364 "Add capture_email, capture_username, capture_ip and anonymize_ip to the configuration doc"
Since we are moving away from storing all of the configuration documentation in `README.md`, the new config options need to get added to the documentation on Rollbar.com

@rivkahstandig3636

[2018-05-15 05:41] HenonoaH commented on #356
@rivkahstandig3636 @ArturMoczulski Do you get any findings on How to fix this?

[2018-05-17 07:54] #353 closed

[2018-05-17 07:54] #354 closed

[2018-05-17 07:55] #355 closed

[2018-05-17 11:45] adrian-enspired commented on #343
setting `local_vars_dump` to `true` prevents rollbar from sending function arguments along with the trace chain.  I recently had to figure that out as a temporary measure until [347](https://github.com/rollbar/rollbar-php/issues/347) is solved.

If you don't mind, how large is your payload when you get a 413 error?  We've been having some errors that don't make it to rollbar and can't figure out w

[2018-05-19 01:18] Hoten opened #367 "Newest version 1.5.0 missing changelog, Notifier version not bumped"

[2018-05-19 11:45] h0gar commented on #343
Thanks, didn't know about "local_vars_dump".

I don't have a precise number, but it's at least several megabytes.

[2018-05-20 02:04] ArturMoczulski commented on #367
Thanks for catching the version bump. Fixed it now.

`CHANGELOG.MD` has been abandoned in favor of release notes: https://github.com/rollbar/rollbar-php/releases

[2018-05-20 02:04] #367 closed

[2018-06-04 03:27] ArturMoczulski commented on #356
@HenonoaH initialize Rollbar as usual with `\Rollbar\Rollbar::init`. It will register additional error handler, exception handler and shutdown function that will take care of Rollbar logging.

Does it help?

[2018-06-04 03:31] #343 closed

[2018-06-04 03:32] ArturMoczulski commented on #311
I'm closing the issue since there has been no reponse since March 13th.

[2018-06-04 03:32] #311 closed

[2018-06-04 03:34] ArturMoczulski commented on #316
Closing the issue for now. I'll reopen if this is still an issue.

[2018-06-04 03:34] #316 closed

[2018-06-04 03:42] ArturMoczulski opened #369 "Rearrange the config options in readme.io into alphabetical order"

[2018-06-04 03:52] ArturMoczulski opened #370 "Shorten README.md to the basics in favor of readme.io"

[2018-06-04 04:00] ArturMoczulski opened #371 "Write test for PR 361"
https://github.com/rollbar/rollbar-php/pull/361

[2018-06-04 04:00] ArturMoczulski opened #372 "Add option ca_cert_path to readme.io"

[2018-06-04 04:03] #372 closed

[2018-06-04 04:03] #370 closed

[2018-06-04 04:10] ArturMoczulski commented on #360
Rollbar PHP supports Monolog but it's independent of it. I'm confident we can help you achieve what you need. Can you tell me more about the problem you're having?

[2018-06-04 04:11] #357 closed

[2018-06-04 04:20] ArturMoczulski opened #373 "Rename object property names to follow an appropriate convention in the Config class"
Some of the properties in `\Rollbar\Config` class do not adhere to the appropriate camel case naming convention and use the underscore convention. This needs to get cleaned up so that all the property names are camel case.

[2018-06-04 04:34] #373 closed

[2018-06-04 04:39] #331 closed

[2018-06-04 05:01] #330 closed

[2018-06-04 11:29] rivkahstandig3636 commented on #369
Good idea.

[2018-06-04 13:56] ArturMoczulski commented on #329
This has been supported for a while now with `Rollbar\Truncation\StringsStrategy`

[2018-06-04 13:56] #329 closed

[2018-06-04 13:57] #338 closed

[2018-06-04 14:55] rkrx commented on #360
You have it in your [composer.json](https://github.com/rollbar/rollbar-php/blob/master/composer.json#L36). In that sense, you force a project to load monolog.

[2018-06-06 02:33] #345 closed

[2018-06-06 02:42] #344 closed

[2018-06-06 02:43] #340 closed

[2018-06-06 13:56] emporium-nsalter opened #374 "Rollbar fails to get git branch if allow_exec false and no default set"
This bug was introduced in the 1.5.2 update with the refactoring of the Defaults class. This code in particular (src/Defaults:129):

[code]

causes an E_NOTICE to be thrown by line 137 if `$allowExec` is false, as `defaultGitBranch` is never set. There are many cases where a default git branch makes no sense (production, non-git repo) and where exec should not be called. A simple fix would be to s

[2018-06-06 14:45] rivkahstandig3636 commented on #374
Thanks for letting us know!

[2018-06-07 03:35] ArturMoczulski opened #375 "Add a note in the docs to not scrub the request field"
Adding `request` to `scrub_fields` results in:

[code]

[2018-06-08 18:26] Hoten opened #376 "Mismatch between docs and implementation for 'check_ignore' option"
https://docs.rollbar.com/docs/php#section-configuration

[code]

If you log a string:

[code]

The value passed for `$exception` to the check_ignore function is a string, not a RollbarException. This creates an error if you do not do a type check before attempting to call methods on this object.

[2018-06-08 18:37] Hoten opened #377 "Feature Request: strip rollbar frames from DataBuilder::getMessage() trace"
Example trace:
[code]

All but the last three frames are important - the rest could be stripped by Rollbar.

[2018-06-11 13:49] rivkahstandig3636 commented on #376
Thanks for letting us know!

[2018-06-11 13:50] rivkahstandig3636 commented on #377
@ArturMoczulski What are your thoughts on this?

[2018-06-14 18:30] ajtran opened #379 "Stacktrace returns Empty Frames"
Users have experienced empty frames in their stack trace.

Example:

[code]

[2018-06-14 18:44] closca commented on #379
Hi,
I am facing the same issue. The last log which was ok is from 2018-06-13 13:19:48 EEST
Had 3 releases until the first log with the missing stack trace started to occur.

[2018-06-17 23:10] #374 closed

[2018-06-17 23:28] ArturMoczulski commented on #376
Fixed.

[2018-06-17 23:28] #376 closed

[2018-06-17 23:50] ArturMoczulski commented on #358
Done.

[2018-06-17 23:50] #358 closed

[2018-06-17 23:50] ArturMoczulski commented on #335
Done.

[2018-06-17 23:50] #335 closed

[2018-06-17 23:58] ArturMoczulski commented on #336
Done.

[2018-06-17 23:58] #336 closed

[2018-06-18 00:03] ArturMoczulski commented on #379
This needs to be investigated. Added to the current milestone.

[2018-06-18 00:07] ArturMoczulski opened #380 "Drop temporary Rollbar\Monolog\Handler\RollbarHandler in favor of the merged pull request in the Monolog repo"
It looks like Monolog maintainers have finally processed our PR to update their RollbarHandler. This means we can drop our temporary solution `\Rollbar\Monolog\Handler\RollbarHandler` and the monolog dependency from `composer.json`.

We need to make sure this is backward compatible for users who already applied the `\Rollbar\Monolog\Handler\RollbarHandler` solution.

[2018-06-18 00:08] ArturMoczulski commented on #360
I see what you mean. Yeah, we can drop that. Actually, it looks like Monolog maintainers finally took action on our pull request to update their included RollbarHandler, so the temporary solution for Monolog handler we had can be completely dropped.

This will be addressed as part of https://github.com/rollbar/rollbar-php/issues/380

[2018-06-18 00:08] #360 closed

[2018-06-18 04:11] ArturMoczulski commented on #350
This needs to be investigated as part of the current milestone.

[2018-06-18 04:12] ArturMoczulski commented on #342
What version of Symfony are you running?

[2018-06-18 08:05] alterphp commented on #379
RollbarLogger::encode(array &$payload) seems to be guilty.

In RollbarLogger::log($level, $toLog, array $context = array(), $isUncaught = false) method, from line 103 to 105, $scrubbed has the filled frames, $encoded has empty frames.

[code]

[2018-06-18 08:09] alterphp commented on #379
`RollbarLogger::encode(array &$payload)` does not push frames content into `$encoded` part.

[2018-06-18 08:11] ArturMoczulski commented on #379
@alterphp yes, thank you. I'm working on a fix for this.

[2018-06-18 08:35] alterphp commented on #379
A solution is to make Frame.php implementing JsonSerializable :

https://gist.github.com/alterphp/4c591440a52de008c15fa4e18637e09e.js

[2018-06-18 08:36] ArturMoczulski commented on #379
We moved away from JsonSerializable. But yes the solution is down that line. Frame.php does not get encoded correctly. I should have a fix out within the next hour or so.

[2018-06-18 08:37] alterphp commented on #379
ok, thanks

[2018-06-18 09:09] alterphp commented on #379
@ArturMoczulski :+1:

It's ok now ! Thanks for fast fix

[2018-06-19 10:46] closca commented on #379
Is this included on v1.5.3 ?

[2018-06-19 10:47] alterphp commented on #379
Yes !

Le mar. 19 juin 2018 à 12:46, Closca Costel <notifications@github.com> a
écrit :

[2018-06-19 12:52] #379 closed

[2018-06-21 06:22] Hoten commented on #347
It's because the Scrubber ignore objects. It only scrubs strings and arrays. The frames are instances of the Rollbar\Payload\Frame class.

I was able to extend the Scrubber and scrub the frames like this:
[code]

I can open a PR for this, just say the word. Also, if you want this behind a config value, let me know.

[2018-06-21 15:06] zephod opened #381 "getUserIp looks at HTTP_X_FORWARDED_FOR then overwrites it anyway"
https://github.com/rollbar/rollbar-php/blob/master/src/DataBuilder.php#L827

Just encountered this bug. This library appears to do something clever with `HTTP_X_FORWARDED_FOR` and with `HTTP_X_REAL_IP`, but line 827 overwrites it with `REMOTE_ADDR` no matter what. I'm not 100% sure what the intended behaviour is - the code linked above looks like a regression or a bad merge.

For now I am working

[2018-06-21 16:54] Hoten commented on #347
The above only scrubs args that happen to be arrays ... if an arg is called `$password` and is the first parameter, it won't scrub that. Any ideas there?

[2018-06-24 10:42] rivkahstandig3636 commented on #381
Thanks for bringing this to our attention!

[2018-06-25 15:02] rtek opened #382 "default settings for ServerBranch causes error on windows"
RollbarLogger causes unexpected output during construct with default settings on windows.

Because of how shell_exec treats stderr, one cannot suppress the error.

[code]

Test case:
[code]

Output:
[code]

Cause:

[code]

Windows does not have /dev/null. Stderr should be sent to nul.

[2018-06-25 15:25] sugalvojau commented on #353
I think details of this case should be added into documentation:
https://docs.rollbar.com/docs/person-tracking/

I have been trying to make JavaScript and PHP tracking work today. However, I've been stuck on sending username and email from PHP to Rollbar... JavaScript was working fine. Thought something wrong with the PHP code of mine, checked all over..

It seems I just had to add `capture_userna

[2018-06-27 17:08] RDelorier opened #383 "Recursion exceeding xdebug.max_nesting_level"
Classes with recursive references cause `serializeForRollbar` to exceed xdebug.max_nesting_level

https://github.com/rollbar/rollbar-php/blob/a934d2f009095b35559fb2c68b4f0b3a58d0dc5a/src/Utilities.php#L68

![screen shot 2018-06-27 at 1 07 39 pm](https://user-images.githubusercontent.com/2295675/41988755-1f9b5cec-7a0b-11e8-91dc-e86e1b485058.png)

[2018-06-27 17:31] RDelorier opened #384 "Undefined offset when when adding context"
Undefined offset when $line = 0 should be set to `$line = max(0, $line - 1)` I think.

I got this error when max_nesting_level was reached in #383

https://github.com/rollbar/rollbar-php/blob/a934d2f009095b35559fb2c68b4f0b3a58d0dc5a/src/DataBuilder.php#L493

![screen shot 2018-06-27 at 12 58 33 pm](https://user-images.githubusercontent.com/2295675/41989782-715346c8-7a0e-11e8-9321-10bf11792417.png)

[2018-06-27 17:44] rtek opened #385 "Enhancement: Better argument type information"
Traces that contain arguments of objects show up in Rollbar as the json_encoded version of the object which usually does not contain much information. Many objects do not implement \JsonSerializable nor have public properties so the argument is serialized as `{}`.

Can there be a mechanism to include type information such that the argument traces can be shown with more richness?

This is also true

[2018-06-28 10:47] rivkahstandig3636 commented on #383
Thanks for the report!

[2018-06-28 10:48] rivkahstandig3636 commented on #384
Thank you for this report as well!

[2018-06-28 10:48] rivkahstandig3636 commented on #385
Thoughts @ArturMoczulski?

[2018-07-09 18:43] Hoten opened #387 "Truncation strategies do not truncate Frame objects"
The `Rollbar\Truncation\StringsStrategy` strategy won't trim large strings found in the Frame objects (so, if a very large string parameter is in a stack trace, it won't be trimmed). This has resulted in very large error payloads, and blocks the rollbar agent.

There's no way to provide custom truncation strategies, so I've gotten around this by applying a custom scrubber. I'll share that code her

[2018-07-12 13:23] ArturMoczulski commented on #385
Thank you for bringing this up @rtek It's definitely a good idea for improvement. I'll add your suggestions to our workstack.

[2018-07-12 13:24] ArturMoczulski commented on #381
Thanks @zephod We will get this addressed soon.

[2018-07-16 01:02] ArturMoczulski commented on #382
This will be addressed in the upcoming release.

[2018-07-16 01:06] ArturMoczulski commented on #356
Closing the issue since there has not been any feedback since my last response. I'll reopen if this pops up again.

[2018-07-16 01:06] #356 closed

[2018-07-16 01:09] ArturMoczulski commented on #342
Closing the issue for now. Will reopen when OP gets back to us with his version of Symfony

[2018-07-16 01:09] #342 closed

[2018-07-18 21:38] ajtran opened #388 "Drupal Error Handler takes 5 Arguments"
While using Drupal 8.4 under PHP 7.1, a user is being hit by an
[code]

![image](https://user-images.githubusercontent.com/10730200/42909226-3949715e-8a98-11e8-806d-b6719f8aab2d.png)

Do we have any plans to accommodate this?

[2018-07-19 16:20] HenonoaH commented on #356
Sorry, @ArturMoczulski I was late to share my findings. It got working just extending the base error handler. Thank You.

[2018-07-24 12:48] iwex commented on #343
@ArturMoczulski why did you close it?
I think, the library should somehow understand what to send in this case, or use compression etc, because
`local_vars_dump=true` exists for some reason.

[2018-07-24 16:36] ArturMoczulski commented on #343
@iwex sounds to me like the issue is resolved with `local_vars_dump=false` or am I missing something?

[2018-07-28 00:15] ajtran opened #389 "Logger sends context in body and custom"
(internal) https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/849049/conversations/17694320596

it seems that for rollbar-php v1.5.3 w/ monolog, when a user is making a call to
[code]
and pass psr7 request/response as an array to the third argument (_more on this below_), the body and custom objects are populated with the same data as seen here (internal) https://rollbar.com/gvera/Sivi/items/55/o

[2018-07-30 20:00] gveraa commented on #389
Hi Guys,
if any doubt or more info required please let me know

Regards

[2018-07-31 00:03] ArturMoczulski commented on #381
This is now fixed in `master` and will be included in `v1.5.4`

[2018-07-31 00:03] #381 closed

[2018-08-02 11:42] rivkahstandig3636 opened #391 "Add max items config option"
Similar to rollbar.js maxItems

[2018-08-03 03:28] gveraa opened #393 "Missed variable $scrubbedPayload definition in send method on FluentSender"
Missed variable $scrubbedPayload definition in send method

Pull request created for fix this
https://github.com/rollbar/rollbar-php/pull/392

[2018-08-03 06:27] ArturMoczulski commented on #387
@Hoten just tested. The frame arguments are being trimmed as expected. Are you sure the trimming is not occurring? It might be the case that even the trimmed payloads might be too big for `rollbar-agent` - I haven't been testing against that.

Adding an option for custom truncation strategy now.

[2018-08-04 07:27] ArturMoczulski commented on #387
Closing the issue for now. @Hoten will reopen if there are further problems.

[2018-08-04 07:27] #387 closed

[2018-08-04 07:31] ArturMoczulski commented on #383
@RDelorier can you help me with a particular example of a recursive reference that causes this for you?

[2018-08-04 07:35] ArturMoczulski commented on #377
We are leaning towards including more frame information than less wherever we can with frames. Reporting frames is not enabled by default. Turning it on usually means that you, in fact, do want to get a lot more information than you're getting currently, so we provide as much as we can. In some cases it's useful information, in others not.

[2018-08-04 07:35] #377 closed

[2018-08-04 08:16] ArturMoczulski commented on #350
Fixed in master and will be included in `v1.5.4`

[2018-08-04 08:16] #350 closed

[2018-08-04 08:52] ArturMoczulski commented on #347
@adrian-enspired I believe this problem has been resolved in `master`. Can you please, check if your payloads get scrubbed as expected when using the latest `mater` code? I just tested and I'm not able to reproduce the issue.

[2018-08-04 08:52] #347 closed

[2018-08-04 09:06] #380 closed

[2018-08-05 03:45] ArturMoczulski commented on #382
Fixed

[2018-08-05 03:45] #382 closed

[2018-08-05 04:16] ArturMoczulski commented on #384
Fixed

[2018-08-05 04:16] #384 closed

[2018-08-05 04:47] ArturMoczulski commented on #391
We need to clarify this more. In what context `maxItems` should limit the number of items reported? In the context of a single request? I believe that would be the most analogical to what Rollbar.js is doing. However, I'm not sure I'm convinced of the value of such an option. What are the use cases for this and why is it needed in PHP? @rivkahstandig3636 @rokob

[2018-08-05 12:58] RDelorier commented on #383
@ArturMoczulski I can't seem to reproduce this right now, If you want to close the ticket then I can give more info if it happens again.

[2018-08-06 01:00] ArturMoczulski commented on #383
@RDelorier thx. Let us know if you run into this problem again and I'll reopen

[2018-08-06 01:00] #383 closed

[2018-08-06 01:35] ArturMoczulski commented on #385
Done. It will be included in `v1.6.0`

[2018-08-06 01:35] #385 closed

[2018-08-06 02:17] #375 closed

[2018-08-06 02:26] #371 closed

[2018-08-06 02:33] #369 closed

[2018-08-06 02:52] ArturMoczulski commented on #359
@RDelorier I don't think I fully understand the problem here. Can you elaborate more?

[2018-08-06 04:03] ArturMoczulski commented on #351
Implemented in https://github.com/rollbar/rollbar-php/pull/397

[2018-08-06 04:03] #351 closed

[2018-08-06 13:28] rivkahstandig3636 commented on #391
@ArturMoczulski Yes, within a single request. This is a feature common to all of the SDKs (either currently supported or we plan to support it).

[2018-08-06 20:24] gveraa commented on #393
Hi,
do you have any estimated date on this bug fix?

Thanks

[2018-08-06 22:16] ArturMoczulski commented on #393
It should be now fixed in release `v1.6.1`. Can you please double check that the fix works for you?

[2018-08-06 22:16] #393 closed

[2018-08-06 23:12] RDelorier commented on #359
We have some custom handlers throwing the exception but here is the trace. It happens when I cause an error in the `person_fn`.

![screen shot 2018-08-06 at 7 09 31 pm](https://user-images.githubusercontent.com/2295675/43745373-5b02667a-99ac-11e8-91f8-c0ba632a963e.png)

[2018-08-06 23:15] RDelorier commented on #359
The catch below calls Rollbar::scope without an `access_token` which triggers the above.

![screen shot 2018-08-06 at 7 14 03 pm](https://user-images.githubusercontent.com/2295675/43745477-ebf1da08-99ac-11e8-8731-e3d300b1ab54.png)

[2018-08-07 01:48] gveraa commented on #393
Hi,
i check the change and still going to fail because when uuid is defined is
using undefined $scrubbedPayload.

Create new pull request.

Saludos

El lun., 6 de ago. de 2018 a la(s) 18:16, Artur Moczulski <
notifications@github.com> escribió:

[2018-08-07 21:41] ArturMoczulski commented on #359
@RDelorier gotcha. I'll address this in the upcoming release

[2018-08-07 23:29] ArturMoczulski commented on #393
Gotcha. My bad. PR merged in now.

[2018-08-09 04:02] victoriafrench opened #399 "NUL files being written all over the place"
[code]

In version `1.6.0` and `1.6.1` we are observing files called `NUL` being written all over the directory structure of our web site. This is not occurring with `1.5.3` and prior. We have confirmed that removing the `1.6.x` series stops the files from appearing and then re-adding them the problem returns.

It appears that any directory that has a php file read for a web request results in the

[2018-08-09 04:08] victoriafrench commented on #399
trackback placeposition/alpaka.io#1586 (allows us to see the status of this issue on ours)

[2018-08-09 14:29] Dolondro commented on #399
It looks like this is caused by a slightly naive implementation of `isWindows` in the Utilities class added [a few days ago](https://github.com/rollbar/rollbar-php/commit/1fa7040e04ad0b0be058ef9de55581dfb344fd94)

[code]

As Macs returns "Darwin" from this, it's piping the branch to a file called `NUL` on macs instead of /dev/null

[2018-08-09 17:50] #333 closed

[2018-08-10 06:11] im-jc opened #400 "Extension not working at all and gives error."
Here are the points with errors.
1. Installation.
In your readme file following step is mentioned.
"Add rollbar-magento2 as a dependency in composer.json of your project and run composer update."
BUT what is the version? composer needs module version to be run command.

=> I have manually installed it by uploading files to app/code/Rollbar/Magento2.
Run both upgrade and compile commands successful

[2018-08-10 17:55] rivkahstandig3636 commented on #400
@im-jc I'm opening this as an issue in the magento2 repo and will have our SDK engineer take a look at this immediately.

[2018-08-10 17:56] rivkahstandig3636 commented on #400
Ah I see it's already open there. Closing it here.

[2018-08-10 17:56] #400 closed

[2018-08-14 23:57] ArturMoczulski commented on #399
Fixed in tag v1.6.2 https://github.com/rollbar/rollbar-php/releases/tag/v1.6.2

[2018-08-14 23:57] #399 closed

[2018-08-23 08:44] zinkovskiy commented on #349
So, guys, how are you going to pass telemetry to backend when exception occurs? Do you have a plan how to achieve this?

[2018-08-23 13:27] rivkahstandig3636 commented on #349
@zinkovskiy We haven't begun working on this feature yet.

[2018-08-25 11:05] ArturMoczulski opened #401 "Create CodeIgniter specific documentation"

[2018-08-26 02:37] gveraa commented on #389
Hi, any comments on this?

[2018-08-27 14:16] PepeNietnagel opened #402 "Using Rollbar with Zend Framework 3"
Hi,
I see there is no documentation (or SDK) about using Rollbar with ZF3.
My application is based on the ZF3 skeleton app.
Since I'm rather new to ZF3 and not as familiar with the concept of ServiceContainers, I think it would be great if you could provide further info.

Specifically, I'm not sure where I should init the Rollbar instance.
Furthermore, I would like to know where I can set to send

[2018-08-28 03:49] ArturMoczulski commented on #402
Thank you for your suggestion @PepeNietnagel I will add creating ZF3 documentation to my workstack

[2018-08-29 13:57] rivkahstandig3636 commented on #389
Hi @gveraa, sorry for the delay! @ArturMoczulski could you please take a look into this?

[2018-08-29 19:31] ajtran opened #404 "Performance Benchmark for Rollbar:init()"
internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813334/conversations/18056584141

user: We just did some benchmarking in our production environment. With the 0.18.2 rollbar-php library, Rollbar::init() is a sub-millisecond operation. In 1.6.2, it takes an average of ~150 milliseconds, with 99th percentile ~270 milliseconds.

Further measurement and documentation of this as well as pe

[2018-08-30 01:41] joshrai opened #405 "Rollbar::init() shouldn't require access token when using agent as handler"
In v0.18.2, it's legal and workable to call `Rollbar::init()` without passing an `access_token` entry in the `$config` param, if you do pass an entry of `'handler' => 'agent'`:

https://github.com/rollbar/rollbar-php/blob/fafe13f8beb669d6bba0137f3703fa808d50cbb7/src/rollbar.php#L190-L192

But in v1.6.2, and possibly other earlier versions, `Rollbar::init()` always requires an `access_token` entry,

[2018-08-30 23:14] ArturMoczulski commented on #404
Thanks @joshrai those are great insights. I'm putting the SDK under a magnifying glass to find the culprits.

[2018-08-31 07:31] ArturMoczulski commented on #404
@joshrai if you want an immediate boost in performance, setting up `allow_exec` to `false` will boost the SDK init by 30% right away. In the above PR I made that a default in the library.

There is one more performance spike I'm looking at before I merge those changes. Should be coming along in the next couple of days @jessewgibbs

[2018-08-31 12:15] ArturMoczulski opened #407 "Add to docs best practices for performance"
Using `optimize-autoloader`

[2018-08-31 19:05] joshrai commented on #404
Thanks, @ArturMoczulski -- good to know. I just tried that and am seeing similar results. Just to confirm, doing this means that if we want to continue including our Git branch in log events, we should explicitly set a `branch` entry?

I should also mention, our app is very latency-sensitive. We can't easily afford more than ~5 milliseconds for this call. If there's any other info I can provide to

[2018-08-31 23:33] joshrai commented on #404
I'm getting more confident that the remaining cost, at least in my env, has something to do with object construction overhead outside the source code itself, and somehow specifically for the `Config` class. I added some benchmarking code from just before calling `new Config()`:

https://github.com/rollbar/rollbar-php/blob/1deec89b870899d12794bb75377ca60359f18723/src/RollbarLogger.php#L22

to the f

[2018-09-01 00:30] ArturMoczulski commented on #404
@joshrai Yes! Here is a PR I opened with the improvements I'm working on: https://github.com/rollbar/rollbar-php/pull/406

So far I was able to shave off init execution to about 3.5 msec.

[2018-09-01 01:00] ArturMoczulski opened #408 "Replace debugLogger with a better performing solution for internal logging"
Debug logger was removed due to performance issues in this PR: https://github.com/rollbar/rollbar-php/pull/406

A more elegant and better-performing solution needs to be implemented.

[2018-09-05 17:01] igloocube opened #409 "Scrubbing every thing not just _POST and _SESSION"
Hi

Docs say for `$config['scrub_fields']`:

If I set `$config['scrub_fields'] = ['name'];` for example, POST fields are scrubbed as expected but also the 'notifier.name' param that is automatically supplied is as well.

Simple example:
[code]

Output on the occurance page:

[2018-09-05 17:28] igloocube commented on #409
Also, is there a work around? Setting it to 'POST.name' or 'request.POST.name' has no effect at all.

[code]

body.message.name and request.POST.name still display 'Joe' under params on the occurrence page.

[2018-09-06 10:03] igloocube commented on #409
Or alternatively, can we tell it not to include request.GET and request.POST etc when passing custom data so I can specifically tell it what to log and stop this leak of form data?

Example:
[code]

Includes $testArray and $_POST (but empty as [] in this simple example) and $_GET (same as POST).

[2018-09-06 21:40] ArturMoczulski commented on #404
@joshrai I merged PR 406 with performance improvements and released under `v1.6.3`: https://github.com/rollbar/rollbar-php/releases/tag/v1.6.3

I see drastic improvements in PHP 7.2 but my HHVM setup is being funny. Can you help me and test with your setup?

[2018-09-06 21:55] ArturMoczulski commented on #404
@joshrai another suggestion I have is to set `optimize-autoloader` to true in your composer if you are not doing that already. This will switch you from dynamic autoloading lookups to a static class map generated at `composer update` which is preferred for production environments.

[2018-09-07 01:43] joshrai commented on #404
Awesome, thanks, @ArturMoczulski -- I'll try this out as soon as I can!

And thanks for the tip. We do use the `optimize-autoloader` option, although we also use an HHVM-oriented Composer plugin, https://github.com/hhvm/hhvm-autoload. I'm not enough of an expert on this subject to know how these two things interact, or if there's some more optimization we could do with our hhvm-autoload settings,

[2018-09-08 02:26] ArturMoczulski commented on #404
Interesting. I'm going to do more profiling on HHVM. The improvements I posted were measured on vanilla PHP 7.2. @joshrai thanks for your efforts to help with this.

[2018-09-08 04:37] ArturMoczulski commented on #404
@joshrai did some poking around with HHVM.

I turned off JIT compilation with `hhvm -v Eval.Jit=0` to skip the JIT warm up and arrived at ~12msec execution time compared to the previous 500msec+.

Can you run a test with JIT turned off? Not sure how exactly you are using the SDK, but it might make sense to configure a warm-up threshold when it comes to JIT.

[2018-09-10 16:31] ajtran commented on #409
Hi there,

I apologize for the confusion. The field names in scrub fields will scrub out data from the entire payload. I believe the documentation is out of date. I can update that now.

As for more fine-tuned scrubbing and customizing of the payload, the best approach to implementing this is by passing a transformer function to the transform in the configuration as seen in the code here - https:/

[2018-09-11 11:10] igloocube commented on #409
Thank you @ajtran

Can it be made clear in the documentation of what data is included beyond what you specifically include too?

[2018-09-12 08:56] armetiz commented on #349
I'm really interested about this feature!

Our application is logging messages using PSR\Log level `info` with associated context, those informations could be very useful when debugging.

I'm using monolog.

[2018-09-13 19:02] coryvirok commented on #404
Hey all. I'm not a PHP performance expert but if the issue is showing up in JIT'd code, it's likely slow because of all of the method calls in `updateConfig()` I think we can try refactoring the Config constructor to make less method calls. I'd guess that most of those `{internal}` calls are method pointer lookups and type lookups.

Some other useful info: https://hhvm.com/blog/713/hhvm-optimizati

[2018-09-13 21:13] joshrai commented on #404
Yes, I wouldn't be too concerned about a moderately high number of ordinary method calls, but it's possible that the dynamic method calls, like the ones triggering `Defaults::__call()`, are causing more overhead in our HHVM setup than in PHP.

I don't have a complete picture to give you at this point regarding JIT implications, because it's a heavy lift for us to test this in a safe, controlled ma

[2018-09-13 23:28] coryvirok commented on #404
Hrrmmm, ya. Can we just refactor this type of code like so?
[code]
to
[code]

And have the Defaults class just be a a simple mapping object instead of a class with (magic) methods?

[2018-09-13 23:39] ArturMoczulski commented on #404
@joshrai thanks for the absolutely amazing insights and shots of your xhprof profiling. that's very helpeful.

I'm refactoring Defaults class today as per yours and @coryvirok suggestions as well as looking for further ways to optimize for HHVM. I'll let you know how refactoring magic method calls to mapping object affects the wall time

[2018-09-19 16:39] ajtran commented on #409
@igloocube I believe it should be clear here - https://docs.rollbar.com/docs/php#section-configuration-reference

"An array of field names to scrub out of the entire payload excluding the top level access_token. Values will be replaced with asterisks. If overriding, make sure to list all fields you want to scrub, not just fields you want to add to the default. Param names are converted to lowercas

[2018-09-19 16:40] #409 closed

[2018-09-22 05:55] joshrai commented on #404
I think I might have stumbled onto something promising. I'm going to need to get more eyes on this from my colleagues, but long story short, I'm suspecting that the performance problem I've been seeing is a combination of the way we configure the `hhvm-autoload` Composer plugin and the way it handles an undefined (though properly checked) constant, as in `Config.php`:

https://github.com/rollbar/r

[2018-09-22 06:49] joshrai commented on #404
As an aside, we have a number of places in our own code base where we say things like `if (!defined('FOO')) define('FOO', false);`, and they run perfectly fast and don't seem to trigger the autoload failure handler on my dev server. I'm not sure what the difference is, but maybe it's because in our case it's explicitly declared to be Hack code rather than PHP (the files they're in start with `<?hh

[2018-09-22 18:05] joshrai commented on #404
I confirmed with the help of a colleague that we do not have an autoload fallback handler running in prod, so I'm a little more hopeful that 1.6.3 would perform fine in our production environment. It's harder than it should be for us to test changes like this in a safe and controlled way in prod, but I'll work on it -- hope we'll be able to give it a try soon.

[2018-09-26 21:41] jlesueur opened #410 "local_vars_dump with recursive data structures causes infinite recursion"
Unfortunately some of our parameters are recursive. Here is a super simplified example:
[code]

This causes `Utility::serialize($obj)` to enter an infinite recursion. So if local_vars_dump is on, errors can cause infinite recursion.

I kind of think a simple fix is to implement a maximum depth for the serialize method. Maybe a configurable one, with a default of somewhere between 5 and 10? If that

[2018-09-28 15:46] jessewgibbs commented on #410
@jlesueur thanks for reporting this issue.

@ArturMoczulski what do you think about the proposal to set a maximum depth for the `serialize()` method?  I imagine we'd want to have it be a configurable setting...

[2018-09-28 16:30] coryvirok commented on #410
We also need the serialization code to detect loops. See the other sdks for a reference implementation.

[2018-09-28 16:33] ArturMoczulski commented on #410
@jessewgibbs yeah I think that's good

@jlesueur if you want to prepare a PR that would be awesome

@coryvirok I'll check out other SDKs, although I believe introducing default max depth should solve the problem

[2018-09-28 16:43] ArturMoczulski commented on #404
Hey @joshrai

I've been experimenting a lot with the SDK initialization after our call. Unfortunately, I don't see the same behavior in regards to the fallback handler. Defining the `ROLLBAR_INCLUDED_ERRNO_BITMASK` makes only an insignificant difference in my measurements. I'd love to know more about what you found out.

I include the screenshots of my benchmarks with a progression of improvement

[2018-09-28 17:02] coryvirok commented on #410
It might solve it in terms of the specific bug but the serialization will
be incorrect due to loops. Also, it will have another effect for nested
objects of increasing the payload size.

On Fri, Sep 28, 2018, 12:33 PM Artur Moczulski <notifications@github.com>
wrote:

[2018-09-28 17:09] ArturMoczulski opened #411 "Add a full range of HHVM versions to Travis builds"

[2018-10-02 08:25] NavyCoat opened #412 "How to configure 'level' in integration with monolog?"
Currently i have:
monolog.yml
[code]
rollbar.yml
[code]

It's seems like parameter level isnt even passed to RollbarHandler constructor
[code]

How can I change `level` to notice?

[2018-10-02 08:28] NavyCoat commented on #412
Okay, i found `RollbarHandlerFactory.php` with hardocded LogLevel::ERROR

[code]

[2018-10-03 15:35] jessewgibbs commented on #412
@navycoat it sounds like you figured out how to set this up.  I'm going to go ahead and close this issue, but if you have further questions, please let us know.

[2018-10-03 15:35] #412 closed

[2018-10-09 23:32] jessewgibbs commented on #401
We have https://docs.rollbar.com/docs/codeigniter now so I'm going to close this.

[2018-10-09 23:32] #401 closed

[2018-10-10 00:45] joshrai commented on #404
Hi @ArturMoczulski , I finally was able to get v1.6.3 into our production environment, and it looks great! Based on an hour of sampling, the median time for calling `Rollbar::init()` is about 200 microseconds, and 99th percentile is under 350 microseconds.

Thank you, and great work!

[2018-10-10 01:03] joshrai commented on #405
By the way, it looks like the workaround of using an arbitrary 32-char value for `access_token` doesn't work after all. Providing a dummy value does bypass the validation that the library does, but it seems that you need to pass a real access token to the client library in order for the agent to succeed. If I use a dummy value in the `Rollbar::init()` configuration, I see this error in the Rollbar

[2018-10-10 15:52] jessewgibbs commented on #404
@ArturMoczulski sounds like we've got the performance to a good place.  Can we go ahead and close this issue?

[2018-10-10 16:13] ArturMoczulski commented on #404
Let's check with @joshrai how are their performance is doing now? @joshrai did you have a chance to run more tests with latest releases?

[2018-10-10 16:17] joshrai commented on #404
Yes, see https://github.com/rollbar/rollbar-php/issues/404#issuecomment-428400026 -- looking great! I'd say this can be closed. Thank you!

[2018-10-10 20:07] djibarian opened #413 "Duplicated text in error message"
Just updated Rollbar from and old 0.15 version to the latest with Composer and suddenly the messages coming are duplicated. Some examples:

`#5465 E_NOTICE: Undefined index:: Undefined index: lists`

`#5468 E_USER_ERROR: Invalid User Id ("password"): Invalid User Id ("password”)`

where it should be

`#5465 E_NOTICE: Undefined index: lists`

`#5468 E_USER_ERROR: Invalid User Id ("password")`

[2018-10-10 20:18] jessewgibbs commented on #413
@djibarian thanks for bringing this to our attention.

Are these uncaught exceptions or explicit calls to Rollbar?  Also, can you tell us a bit more about the environment in which you're running Rollbar (PHP version, any frameworks + their version, etc.)?

[2018-10-10 20:38] jessewgibbs commented on #413
Got it, thanks for the info.  We'll start working on reproducing this on our end.

[2018-10-11 15:54] #404 closed

[2018-10-15 22:18] beerbuddha opened #415 "Create package for Laravel Nova"
It would be useful to have Rollbar integrated as a package to Laravel Nova.
I mean - Honeybager.io has it

https://novapackages.com/packages/honeybadger-io/nova-honeybadger

[2018-10-16 20:55] JohnKendhammer commented on #410
Issue has been resolved with PR #414

[2018-10-16 20:55] #410 closed

[2018-10-16 22:50] JohnKendhammer commented on #359
I was not able to recreate this issue. I dived into the code and tried to cause an exception in the person_fn, but I am getting the access_token set properly. This makes me think that there may be something going on with the access_token after your configuration call.  Could you give me some more information on how your Rollbar is setup.

[2018-10-17 00:35] JohnKendhammer commented on #405
@joshrai You are very much right that this is not updated in the documentation and is something that I am updating.

[2018-10-17 08:27] coryvirok opened #416 "Implement cycle checks for serialization"
In the case where we dump local variables and there are nested references to a shared object, we will end up serializing the nested loops multiple times. We've implemented a max depth option which is good but not a complete solution. [Other SDKs](https://github.com/rollbar/pyrollbar/blob/master/rollbar/lib/traverse.py#L94) implement cycle checking in order to detect if an object has already been s

[2018-10-18 23:08] ArturMoczulski commented on #413
@djibarian this has been fixed in `master` now and will be released in upcoming `v1.6.4`

[2018-10-18 23:08] #413 closed

[2018-10-19 00:30] ArturMoczulski commented on #407
Added the performance setup guidelines here: https://docs.rollbar.com/v1.0.0/docs/php#section-performance-optimization

[2018-10-19 00:30] #407 closed

[2018-10-19 06:01] ArturMoczulski commented on #416
This has been implemented in PR #417

[2018-10-19 06:01] #416 closed

[2018-10-19 06:50] ArturMoczulski commented on #411
Added the 8-week cycle `master` HHVM and `nightly`

[2018-10-19 06:50] #411 closed

[2018-10-19 09:06] ArturMoczulski opened #418 "Add documentation for max_nesting_depth option in the docs"

[2018-10-19 09:12] #418 closed

[2018-10-19 09:13] ArturMoczulski commented on #408
There is no need for now for this functionality. I removed the remains of `verbosity` for now. A better implementation might be introduced in the future if there is a need.

[2018-10-19 09:13] #408 closed

[2018-10-19 10:42] ArturMoczulski opened #419 "`value` field for non-serializable classes is an empty array"
This is a side-effect of PR #417

[2018-10-19 11:28] ArturMoczulski commented on #389
Fixed in `master`. Will be released in `v1.7.0`.

[2018-10-19 11:28] #389 closed

[2018-10-19 11:29] ArturMoczulski commented on #419
Actually, that's expected for classes with no public properties.

[2018-10-19 11:29] #419 closed

[2018-10-19 12:35] ArturMoczulski commented on #391
This has been implemented in `master` and will be released in `v1.7.0`

[2018-10-19 12:35] #391 closed

[2018-10-23 18:14] ArturMoczulski commented on #388
@jessewgibbs why was this closed?

[2018-10-23 18:15] jessewgibbs commented on #388
@ArturMoczulski must have been by accident as I didn't leave a comment.  Sorry about that!

[2018-10-25 11:29] ArturMoczulski commented on #388
@ajtran I've tried but I'm unable to reproduce this problem. Can you reach out to the user and ask where and how is the initialization of Rollbar in Drupal being done in this case?

[2018-10-26 00:44] joshrai commented on #405
@JohnKendhammer - sorry for not responding sooner. It's definitely doable for me to continue providing the access token to both the SDK and the agent. I was mostly just curious what the rationale was, and your explanation makes sense, especially given that existing users might be relying on the current behavior.

That said, if you believe this really shouldn't be the agent's responsibility, maybe

[2018-10-29 12:06] penance316 commented on #388
Hi thanks for retesting this.

I have just tried to recreate in my project and cannot reproduce the issue currently either.

I am happy to close this issue and appreciate your time with this.

[2018-10-30 03:43] kaibadash opened #420 "Error occured in Behavior"
We are trying rollba-php v1.6.3 with CakePHP3.5.16 and PHP 7.0.21.

We were not able to find the CakePHP’s quick tutorial in docs.
https://docs.rollbar.com/docs/php#section-quick-start .

I edited bootstrap.php like that:

[code]

And I overrided ErrorHandler.

[code]

Is that OK?
We still got an error in a Behavior function.

[code]

We have fixed that by removing rollbar .
But we’d like to use r

[2018-10-30 17:21] jessewgibbs commented on #420
@ArturMoczulski can you take a look at this?

[2018-10-31 16:00] #388 closed

[2018-11-13 23:23] ajtran opened #421 "Rollbar Fails Silently with Wrong Access Token"
internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/849049/conversations/19414319555

A user was struggling to debug the issue for why the data wasn't being sent to Rollbar. Turns out the access token was incorrect, but the user didn't realize this because the notifier failed silently.

[2018-11-16 09:39] iwex commented on #343
@ArturMoczulski I guess there should be some truncating strategy to remove local_vars_dump if the size of payload is too big.

[2018-11-16 13:18] ArturMoczulski commented on #343
@iwex thank you for suggestions. I think both a truncation strategy specifically to deal with `local_vars_dump` can be a good idea as well as a notification in rollbar when the payload is too big. I'll look into those.

In meantime, you might get over a problem like this by setting `max_nesting_depth`

[2018-11-16 13:20] ArturMoczulski opened #422 "Truncation strategy for local_vars_dump and notifications in Rollbar for Payload Too Large"
Suggestions offered by users in https://github.com/rollbar/rollbar-php/issues/343#issuecomment-439336874

[2018-11-23 20:08] makamo commented on #420
@kaibadash When you initialize the Rollbar object. you need to turn of the auto handler
        Rollbar::init($this->_options, false, false, false);

[2018-11-25 04:04] kaibadash commented on #420
Thank you! I'll try that!

[2018-12-01 12:31] ArturMoczulski commented on #420
@kaibadash did turning off the autoloader resolve your issue?

[2018-12-01 13:48] kaibadash commented on #420
Sorry, I was too busy to check...
I absolutely will do...

[2018-12-03 10:28] Ramapitecus opened #424 "Truncation constant doesn't seem to match documentation"
In the file Truncation.php I can see this line:   `const MAX_PAYLOAD_SIZE = 524288; // 512 * 1024`
But according to the docs here: https://docs.rollbar.com/reference#section-http-responses
The limit is 128kb.

(I'm using rollbar-laravel in a laravel 5.0 project, but I still see it here on master)

[2018-12-03 10:29] Ramapitecus opened #425 "StringStrategy.php bug setting $strlen"
On this line `if (is_string($value) && $strlen = strlen($value) > $threshold) {`  `$strlen` will be set to a boolean, and here `$payload->decreaseSize($strlen - $threshold);` it will be cast to either 0 or 1 and I don't think this is the intention.

[2018-12-03 22:41] jessewgibbs commented on #424
@ArturMoczulski can you take a look at this?

[2018-12-03 22:41] jessewgibbs commented on #425
@ArturMoczulski can you have a look at this?

[2018-12-07 22:14] tandemloop commented on #79
Getting the same error now

[2018-12-08 14:44] Ramapitecus opened #426 "Typo in EncodedPayload->decreaseSize"
https://github.com/rollbar/rollbar-php/blob/c2f8be87983ecdd3c46ceb3c459de02376af4707/src/Payload/EncodedPayload.php#L26

`$this->size =- $amount`

[2018-12-08 15:08] Ramapitecus opened #427 "Not all keys traversed."
https://github.com/rollbar/rollbar-php/blob/c2f8be87983ecdd3c46ceb3c459de02376af4707/src/Truncation/StringsStrategy.php#L41

On this line, if `$data` is an Array of arrays, it will return on the first `$value` and not process the rest of the keys.
maybe: `   $modified = $modified || $this->traverse($value, $threshold, $payload);` would work.

[2018-12-10 10:52] Ramapitecus opened #428 "EncodedPayload constructor does not set size of encoded properties"
https://github.com/rollbar/rollbar-php/blob/c2f8be87983ecdd3c46ceb3c459de02376af4707/src/Payload/EncodedPayload.php#L11

By not setting these properties. calling `size()` after construction returns `0` and `__toString()` returns `NULL` as well as `encoded()`

[2018-12-10 18:57] jessewgibbs commented on #426
@ramapitecus thanks for bringing this to our attention (as well as #427 and #428).

@ArturMoczulski can you take a look when you get a chance?

[2018-12-13 10:39] arendjantetteroo opened #429 "Symfony\Component\Debug\Exception\FatalErrorException: Error: Uncaught Exception: Cannot rewind a generator that was already run in /vendor/rollbar/rollbar/src/Utilities.php:102"
Apparently our code uses generators and when an exception occurs somewhere in the stack we get this 500 error due to rollbar trying to rewind such a generator.

I'm not sure how to debug this as the error in rollbar itself does not show the original stack this happened, it only returns the resulting issue from an E_ERROR.

Symfony\Component\Debug\Exception\FatalErrorException:
Error: Uncaught Exce

[2018-12-14 17:32] jessewgibbs commented on #429
@ArturMoczulski can you take a look at this?

[2018-12-14 22:17] ArturMoczulski commented on #359
I'm closing this for now due to lack of feedback. @RDelorier when you provide more context I will reopen

[2018-12-14 22:17] #359 closed

[2018-12-17 02:53] ArturMoczulski commented on #421
This is intended behavior. We do not have knowledge of how local logging is handled in user applications and can not assume a logging solution. Rollbar's logging methods, i.e. `\Rollbar\Rollbar::log` and `$logger->log` return a response object with the details of the result of the report. In case of a wrong access token, the code `var_dump(\Rollbar\Rollbar::info('Info Message'));` returns the foll

[2018-12-17 02:53] #421 closed

[2018-12-17 03:02] ArturMoczulski commented on #425
Thanks for catching this @Ramapitecus . It's been fixed in `master`.

[2018-12-17 03:02] #425 closed

[2018-12-17 03:04] ArturMoczulski commented on #426
I'm not sure I understand what the problem is here

[2018-12-17 03:36] ArturMoczulski commented on #427
@Ramapitecus great catch.  Fixed in `master` now.

[2018-12-17 03:36] #427 closed

[2018-12-17 03:39] ArturMoczulski commented on #428
This is intended. To provide `size` and `encoded` right after construction would require to run `json_encode` in the constructor. We do not want to do that as it will double the performance hit of json serialization. We are postponing calculating those properties until the execution of the `encode` method.

[2018-12-17 03:39] #428 closed

[2018-12-17 03:42] ArturMoczulski commented on #420
This is most likely due to CakePHP putting PDO objects in the `$response` or `$request` variables you are passing to `\Rollbar\Rollbar::log`. Please make sure, that you either remove those from the data passed Rollbar or convert them into non-PDO objects, like arrays.

[2018-12-17 03:42] #420 closed

[2018-12-17 03:45] ArturMoczulski commented on #424
Thanks @Ramapitecus for catching this. I pushed a fix to `master` matching the latest documentation guidelines.

[2018-12-17 03:45] #424 closed

[2018-12-17 10:16] armetiz commented on #349
Any news ?

[2018-12-17 10:17] Ramapitecus commented on #428
I thought It might be an optimization. It hasn't caused problems for me outside of some tests I've written. It's ok to close it. Thanks

[2018-12-17 10:22] Ramapitecus commented on #426
I'm sorry I wasn't clear. The method is called `decreaseSize` so I assume that if `$this->size` is 10, and you call `$obj->decreaseSize(2)` you'ld want `$this->size === 8` but there is a typo there, the `=-` is flipped. And `$this->size === -2` after that call.

[2018-12-18 05:11] ArturMoczulski opened #430 "Create an API connectivity self-check tool for the SDK (and other related SDKs)"
Issue inspired by the following article https://medium.com/@alariva/checking-rollbar-service-with-beyondcode-laravel-self-diagnosis-cb091d741dc1 by Ariel Vallese

[2018-12-20 19:52] ArturMoczulski commented on #426
Fixed in `master`. Will be included in the next release.